NodeRED-Alarm.json
[
   {
       "id": "d30f03c4.27cf4",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vAlarmClockSonosPLAY11",
       "x": 130,
       "y": 180,
       "wires": [
           [
               "aa74afd0.403b",
               "545b3d0e.e83e94"
           ],
           []
       ]
   },
   {
       "id": "d4421367.a09548",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vAlarmClockSonosPLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1020,
       "y": 440,
       "wires": []
   },
   {
       "id": "b2ed0f85.56506",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "dSonosPLAY11Controler",
       "topic": "ItemCommand",
       "payload": "",
       "x": 490,
       "y": 620,
       "wires": []
   },
   {
       "id": "d35226ab.edd5e",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "dSonosPLAY11Volume",
       "topic": "ItemCommand",
       "payload": "",
       "x": 480,
       "y": 800,
       "wires": []
   },
   {
       "id": "e24c2307.5778a8",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozePLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 480,
       "y": 680,
       "wires": []
   },
   {
       "id": "5fa7365b.ba4fb8",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozeTimePLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 500,
       "y": 740,
       "wires": []
   },
   {
       "id": "bdb1cc9e.f22a8",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozeTimePLAY11",
       "x": 820,
       "y": 740,
       "wires": [
           [
               "e0c4529c.f10d9"
           ],
           []
       ]
   },
   {
       "id": "b0de2f11.ea8b38",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "dSonosPLAY11Controler",
       "x": 810,
       "y": 620,
       "wires": [
           [],
           []
       ]
   },
   {
       "id": "4b0623a5.f52db4",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosPLAY11WeckerPlayRadio2",
       "x": 840,
       "y": 560,
       "wires": [
           [],
           []
       ]
   },
   {
       "id": "9ed98630.f8465",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosPLAY11WeckerPlayRadio",
       "topic": "ItemCommand",
       "payload": "",
       "x": 520,
       "y": 560,
       "wires": []
   },
   {
       "id": "d0f1e30.706052",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRStartAlarmClockPLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1020,
       "y": 120,
       "wires": []
   },
   {
       "id": "9241e1e1.565cf8",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRStartAlarmClockPLAY11",
       "x": 1020,
       "y": 180,
       "wires": [
           [
               "b6a8b717.7dcae8"
           ],
           []
       ]
   },
   {
       "id": "a1ac87c7.717798",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosONEVolumeAC",
       "topic": "ItemCommand",
       "payload": "",
       "x": 480,
       "y": 860,
       "wires": []
   },
   {
       "id": "80392413.48dec8",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosONEVolumeAC",
       "x": 800,
       "y": 860,
       "wires": [
           [
               "e0551591.dbe488"
           ],
           []
       ]
   },
   {
       "id": "1be08d8f.760322",
       "type": "ui_numeric",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Lautstärke",
       "group": "a493ba89.519f78",
       "order": 7,
       "width": "3",
       "height": "2",
       "passthru": true,
       "topic": "",
       "format": "{{value}}",
       "min": 0,
       "max": "60",
       "step": "5",
       "x": 250,
       "y": 800,
       "wires": [
           [
               "d35226ab.edd5e"
           ]
       ]
   },
   {
       "id": "e0551591.dbe488",
       "type": "ui_gauge",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "a493ba89.519f78",
       "order": 4,
       "width": "3",
       "height": "2",
       "gtype": "gage",
       "title": "",
       "label": "%",
       "format": "{{value}} %",
       "min": 0,
       "max": "20",
       "colors": [
           "#00b500",
           "#e6e600",
           "#ca3838"
       ],
       "seg1": "",
       "seg2": "",
       "x": 1030,
       "y": 860,
       "wires": []
   },
   {
       "id": "8c88b313.191b4",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozePLAY11",
       "x": 800,
       "y": 680,
       "wires": [
           [],
           []
       ]
   },
   {
       "id": "fb863f5b.83a94",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "dSonosPLAY11Volume",
       "x": 800,
       "y": 800,
       "wires": [
           [
               "96430b1b.0d6388"
           ],
           []
       ]
   },
   {
       "id": "5577bf05.dd1de",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "a493ba89.519f78",
       "order": 1,
       "width": "3",
       "height": "1",
       "passthru": false,
       "label": "Pause",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "PAUSE",
       "payloadType": "str",
       "topic": "",
       "x": 230,
       "y": 640,
       "wires": [
           [
               "b2ed0f85.56506"
           ]
       ]
   },
   {
       "id": "3269e4e8.fd6a5c",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "a493ba89.519f78",
       "order": 2,
       "width": "3",
       "height": "1",
       "passthru": false,
       "label": "Play",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "PLAY",
       "payloadType": "str",
       "topic": "",
       "x": 230,
       "y": 600,
       "wires": [
           [
               "b2ed0f85.56506"
           ]
       ]
   },
   {
       "id": "5149cad1.f6c3a4",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 7,
       "width": "0",
       "height": "0",
       "passthru": true,
       "label": "Snooze",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "ON",
       "payloadType": "str",
       "topic": "",
       "x": 240,
       "y": 680,
       "wires": [
           [
               "e24c2307.5778a8"
           ]
       ]
   },
   {
       "id": "2df2a621.b8adaa",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "5",
       "payloadType": "num",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 90,
       "y": 740,
       "wires": [
           [
               "d72c614a.b5f77"
           ]
       ]
   },
   {
       "id": "ea59ca3d.7654c8",
       "type": "ui_dropdown",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Sender einstellen",
       "place": "Select option",
       "group": "603153c1.6b6e94",
       "order": 9,
       "width": "0",
       "height": "0",
       "passthru": true,
       "options": [
           {
               "label": "NDR 2",
               "value": 1,
               "type": "num"
           },
           {
               "label": "NDR Info 98.5",
               "value": 2,
               "type": "num"
           },
           {
               "label": "Deutschlandfunk",
               "value": 3,
               "type": "num"
           },
           {
               "label": "radio ffn",
               "value": 4,
               "type": "num"
           },
           {
               "label": "N-JOY",
               "value": "5",
               "type": "str"
           },
           {
               "label": "Radio 21",
               "value": "6",
               "type": "str"
           }
       ],
       "payload": "",
       "topic": "",
       "x": 270,
       "y": 560,
       "wires": [
           [
               "9ed98630.f8465"
           ]
       ]
   },
   {
       "id": "2584eedc.417882",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "1",
       "payloadType": "num",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 90,
       "y": 560,
       "wires": [
           [
               "ea59ca3d.7654c8"
           ]
       ]
   },
   {
       "id": "d72c614a.b5f77",
       "type": "ui_numeric",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Snooze Dauer",
       "group": "a493ba89.519f78",
       "order": 5,
       "width": "3",
       "height": "2",
       "passthru": true,
       "topic": "",
       "format": "{{value}}",
       "min": 0,
       "max": "20",
       "step": "5",
       "x": 260,
       "y": 740,
       "wires": [
           [
               "5fa7365b.ba4fb8"
           ]
       ]
   },
   {
       "id": "e0c4529c.f10d9",
       "type": "ui_gauge",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "a493ba89.519f78",
       "order": 6,
       "width": "3",
       "height": "2",
       "gtype": "wave",
       "title": "",
       "label": "min",
       "format": "{{value}} %",
       "min": 0,
       "max": "20",
       "colors": [
           "#00b500",
           "#e6e600",
           "#ca3838"
       ],
       "seg1": "",
       "seg2": "",
       "x": 1030,
       "y": 740,
       "wires": []
   },
   {
       "id": "25cdf22d.08353e",
       "type": "ui_switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Einschalten",
       "group": "603153c1.6b6e94",
       "order": 1,
       "width": "0",
       "height": "0",
       "passthru": true,
       "decouple": "false",
       "topic": "",
       "style": "",
       "onvalue": "ON",
       "onvalueType": "str",
       "onicon": "",
       "oncolor": "",
       "offvalue": "OFF",
       "offvalueType": "str",
       "officon": "",
       "offcolor": "",
       "x": 770,
       "y": 440,
       "wires": [
           [
               "d4421367.a09548"
           ]
       ]
   },
   {
       "id": "63a6ca56.3c0a64",
       "type": "ui_text_input",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Weckzeit einstellen",
       "group": "603153c1.6b6e94",
       "order": 3,
       "width": "3",
       "height": "1",
       "passthru": true,
       "mode": "time",
       "delay": 300,
       "topic": "",
       "x": 270,
       "y": 360,
       "wires": [
           [
               "8d7aa79a.17fb68",
               "b6c9977e.eb7658"
           ]
       ]
   },
   {
       "id": "c40b2310.42f91",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 8,
       "width": "0",
       "height": "0",
       "passthru": false,
       "label": "Aus",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "off",
       "payloadType": "str",
       "topic": "",
       "x": 230,
       "y": 320,
       "wires": [
           [
               "a131c778.3b4068"
           ]
       ]
   },
   {
       "id": "918001cb.3e925",
       "type": "comment",
       "z": "bde9e35a.0d056",
       "name": "Weckzeit",
       "info": "Weckzeit muss um eine Stunde zurückgerechnet werden.\nVermutlich ist die Angabe in UTC seit Mitternacht in Millisekunden.",
       "x": 120,
       "y": 40,
       "wires": []
   },
   {
       "id": "156cf825.78ddb8",
       "type": "ui_switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Dauerhaft",
       "group": "603153c1.6b6e94",
       "order": 2,
       "width": "0",
       "height": "0",
       "passthru": true,
       "decouple": "false",
       "topic": "",
       "style": "",
       "onvalue": "ON",
       "onvalueType": "str",
       "onicon": "",
       "oncolor": "",
       "offvalue": "OFF",
       "offvalueType": "str",
       "officon": "",
       "offcolor": "",
       "x": 760,
       "y": 480,
       "wires": [
           [
               "813cac64.ba109"
           ]
       ]
   },
   {
       "id": "c8ae4086.8a1c7",
       "type": "function",
       "z": "bde9e35a.0d056",
       "name": "set timer",
       "func": "var calc = 1000 * 60;\nvar payload = (msg.payload / calc) + 60;\nmsg.payload = \"on_override\" + \" \" + payload;\nreturn msg;",
       "outputs": "1",
       "noerr": 0,
       "x": 640,
       "y": 360,
       "wires": [
           [
               "a131c778.3b4068"
           ]
       ],
       "inputLabels": [
           "MQTT input"
       ],
       "outputLabels": [
           "newMsgx"
       ]
   },
   {
       "id": "813cac64.ba109",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "durable",
               "pt": "flow",
               "to": "payload",
               "tot": "msg"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 980,
       "y": 480,
       "wires": [
           []
       ]
   },
   {
       "id": "43580ce0.469144",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "OFF",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 950,
       "y": 240,
       "wires": [
           [
               "db4ee632.001408"
           ],
           []
       ]
   },
   {
       "id": "db4ee632.001408",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "property": "durable",
       "propertyType": "flow",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "OFF",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 950,
       "y": 280,
       "wires": [
           [],
           [
               "daec38ec.214ae8"
           ]
       ]
   },
   {
       "id": "daec38ec.214ae8",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "1920000",
       "timeoutUnits": "milliseconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 990,
       "y": 320,
       "wires": [
           [
               "ca47e3de.11c0d"
           ]
       ]
   },
   {
       "id": "ca47e3de.11c0d",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "OFF",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 980,
       "y": 380,
       "wires": [
           [
               "25cdf22d.08353e"
           ]
       ]
   },
   {
       "id": "98657388.df7f2",
       "type": "ui_gauge",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 5,
       "width": "3",
       "height": "2",
       "gtype": "donut",
       "title": "",
       "label": "",
       "format": "{{value}}",
       "min": 0,
       "max": "1",
       "colors": [
           "#00b500",
           "#e6e600",
           "#ca3838"
       ],
       "seg1": "",
       "seg2": "",
       "x": 690,
       "y": 120,
       "wires": []
   },
   {
       "id": "c2afac4c.0e0c2",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "1",
               "tot": "num"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 520,
       "y": 100,
       "wires": [
           [
               "98657388.df7f2"
           ]
       ]
   },
   {
       "id": "8fd3849a.1f2378",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "0",
               "tot": "num"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 520,
       "y": 140,
       "wires": [
           [
               "98657388.df7f2"
           ]
       ]
   },
   {
       "id": "45372bcc.c00734",
       "type": "ui_gauge",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 6,
       "width": "3",
       "height": "2",
       "gtype": "donut",
       "title": "",
       "label": "",
       "format": "{{value}}",
       "min": 0,
       "max": "1",
       "colors": [
           "#00b500",
           "#e6e600",
           "#ca3838"
       ],
       "seg1": "",
       "seg2": "",
       "x": 1390,
       "y": 200,
       "wires": []
   },
   {
       "id": "aa6f05ed.635be8",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "1",
               "tot": "num"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1300,
       "y": 140,
       "wires": [
           [
               "45372bcc.c00734"
           ]
       ]
   },
   {
       "id": "b6a8b717.7dcae8",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "OFF",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 1230,
       "y": 200,
       "wires": [
           [
               "aa6f05ed.635be8"
           ],
           [
               "a0c6efab.605d5"
           ]
       ]
   },
   {
       "id": "a0c6efab.605d5",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "0",
               "tot": "num"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1300,
       "y": 260,
       "wires": [
           [
               "45372bcc.c00734"
           ]
       ]
   },
   {
       "id": "a131c778.3b4068",
       "type": "bigtimer",
       "z": "bde9e35a.0d056",
       "outtopic": "",
       "outpayload1": "ON",
       "outpayload2": "OFF",
       "name": "Big Timer",
       "lat": "52.373920",
       "lon": "9.735603",
       "starttime": "0",
       "endtime": "10030",
       "startoff": "0",
       "endoff": 0,
       "offs": "0",
       "outtext1": "",
       "outtext2": "",
       "timeout": 1440,
       "sun": true,
       "mon": true,
       "tue": true,
       "wed": true,
       "thu": true,
       "fri": true,
       "sat": true,
       "jan": true,
       "feb": true,
       "mar": true,
       "apr": true,
       "may": true,
       "jun": true,
       "jul": true,
       "aug": true,
       "sep": true,
       "oct": true,
       "nov": true,
       "dec": true,
       "day1": 0,
       "month1": 0,
       "day2": 0,
       "month2": 0,
       "day3": 0,
       "month3": 0,
       "day4": 0,
       "month4": 0,
       "day5": 0,
       "month5": 0,
       "d1": 0,
       "w1": 0,
       "d2": 0,
       "w2": 0,
       "d3": 0,
       "w3": 0,
       "d4": 0,
       "w4": 0,
       "d5": 0,
       "w5": 0,
       "suspend": false,
       "random": false,
       "repeat": false,
       "atstart": false,
       "odd": false,
       "even": false,
       "x": 760,
       "y": 220,
       "wires": [
           [
               "d0f1e30.706052",
               "43580ce0.469144"
           ],
           [],
           []
       ]
   },
   {
       "id": "545b3d0e.e83e94",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "alarmClock",
               "pt": "flow",
               "to": "payload",
               "tot": "msg"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 530,
       "y": 40,
       "wires": [
           []
       ]
   },
   {
       "id": "aa74afd0.403b",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "OFF",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 330,
       "y": 180,
       "wires": [
           [
               "b85678ca.67ce48",
               "c2afac4c.0e0c2"
           ],
           [
               "3e500e0f.b056f2",
               "8fd3849a.1f2378"
           ]
       ]
   },
   {
       "id": "3e500e0f.b056f2",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "stop",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 520,
       "y": 240,
       "wires": [
           [
               "a131c778.3b4068"
           ]
       ]
   },
   {
       "id": "b85678ca.67ce48",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "default",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 520,
       "y": 200,
       "wires": [
           [
               "a131c778.3b4068"
           ]
       ]
   },
   {
       "id": "814e61a8.4a0c7",
       "type": "ui_numeric",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Wecker Lautstärke",
       "group": "a493ba89.519f78",
       "order": 3,
       "width": "3",
       "height": "2",
       "passthru": true,
       "topic": "",
       "format": "{{value}}",
       "min": 0,
       "max": "20",
       "step": "2",
       "x": 270,
       "y": 860,
       "wires": [
           [
               "a1ac87c7.717798"
           ]
       ]
   },
   {
       "id": "96430b1b.0d6388",
       "type": "ui_gauge",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "a493ba89.519f78",
       "order": 8,
       "width": "3",
       "height": "2",
       "gtype": "gage",
       "title": "",
       "label": "%",
       "format": "{{value}} %",
       "min": 0,
       "max": "60",
       "colors": [
           "#00b500",
           "#e6e600",
           "#ca3838"
       ],
       "seg1": "",
       "seg2": "",
       "x": 1030,
       "y": 800,
       "wires": []
   },
   {
       "id": "a3b1775a.da04d8",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "6",
       "payloadType": "num",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 90,
       "y": 840,
       "wires": [
           [
               "1be08d8f.760322",
               "814e61a8.4a0c7"
           ]
       ]
   },
   {
       "id": "5197b444.b1953c",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 4,
       "width": "3",
       "height": "1",
       "passthru": false,
       "label": "Wake up 06:30",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "57600000",
       "payloadType": "num",
       "topic": "",
       "x": 260,
       "y": 460,
       "wires": [
           [
               "b6c9977e.eb7658",
               "23d5a209.26c3ee",
               "8d7aa79a.17fb68"
           ]
       ]
   },
   {
       "id": "b6c9977e.eb7658",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "ON",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 520,
       "y": 440,
       "wires": [
           [
               "25cdf22d.08353e"
           ]
       ]
   },
   {
       "id": "23d5a209.26c3ee",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "off",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 520,
       "y": 480,
       "wires": [
           [
               "156cf825.78ddb8"
           ]
       ]
   },
   {
       "id": "8d7aa79a.17fb68",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 500,
       "y": 360,
       "wires": [
           [
               "c8ae4086.8a1c7"
           ]
       ]
   },
   {
       "id": "4d377d6b.eec334",
       "type": "openhab2-controller",
       "z": "",
       "name": "openhab",
       "protocol": "http",
       "host": "192.168.1.18",
       "port": "8080",
       "path": "",
       "username": "",
       "password": ""
   },
   {
       "id": "a493ba89.519f78",
       "type": "ui_group",
       "z": "",
       "name": "Wecker einstellen",
       "tab": "c282d0cf.4c832",
       "order": 1,
       "disp": true,
       "width": "6"
   },
   {
       "id": "603153c1.6b6e94",
       "type": "ui_group",
       "z": "",
       "name": "Wecker starten",
       "tab": "338633f3.b9395c",
       "order": 2,
       "disp": true,
       "width": "6"
   },
   {
       "id": "c282d0cf.4c832",
       "type": "ui_tab",
       "z": "",
       "name": "M & P 2",
       "icon": "dashboard",
       "order": 2
   },
   {
       "id": "338633f3.b9395c",
       "type": "ui_tab",
       "z": "",
       "name": "M & P",
       "icon": "dashboard",
       "order": 1
   }
]