NodeRED-Alarm.json
[
   {
      "id": "6e663c33.af74c4",
      "type": "bigtimer",
      "z": "8cb16799.017028",
      "outtopic": "",
      "outpayload1": "ON",
      "outpayload2": "OFF",
      "name": "Big Timer 06:00",
      "lat": "52.37052",
      "lon": "9.73322",
      "starttime": "705",
      "endtime": "720",
      "startoff": "10",
      "endoff": "0",
      "offs": 0,
      "outtext1": "Alarm Clock ON",
      "outtext2": "Alarm Clock OFF",
      "timeout": 1440,
      "sun": true,
      "mon": true,
      "tue": true,
      "wed": true,
      "thu": true,
      "fri": true,
      "sat": true,
      "jan": true,
      "feb": true,
      "mar": true,
      "apr": true,
      "may": true,
      "jun": true,
      "jul": true,
      "aug": true,
      "sep": true,
      "oct": true,
      "nov": true,
      "dec": true,
      "day1": 0,
      "month1": 0,
      "day2": 0,
      "month2": 0,
      "day3": 0,
      "month3": 0,
      "day4": 0,
      "month4": 0,
      "day5": 0,
      "month5": 0,
      "d1": 0,
      "w1": 0,
      "d2": 0,
      "w2": 0,
      "d3": 0,
      "w3": 0,
      "d4": 0,
      "w4": 0,
      "d5": 0,
      "w5": 0,
      "suspend": false,
      "random": false,
      "repeat": false,
      "atstart": false,
      "odd": false,
      "even": false,
      "x": 1140,
      "y": 400,
      "wires": [
         [
            "6d5c1102.65b85"
         ],
         [],
         []
      ]
   },
   {
      "id": "da06a388.fa50f",
      "type": "debug",
      "z": "8cb16799.017028",
      "name": "Timer ON / OFF",
      "active": true,
      "console": "false",
      "complete": "payload",
      "x": 1600,
      "y": 580,
      "wires": []
   },
   {
      "id": "cc1befbc.b69d",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "set to manual",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "manual",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 860,
      "y": 320,
      "wires": [
         [
            "6e663c33.af74c4",
            "dda381e7.61c1e",
            "4c048092.c3ad4",
            "c79f3cc5.641ac",
            "ab4b5bfb.ed6e38",
            "17d2851c.b18b0b"
         ]
      ]
   },
   {
      "id": "73e1ab0d.2c9794",
      "type": "switch",
      "z": "8cb16799.017028",
      "name": "Alarm ON or OFF",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
         {
            "t": "eq",
            "v": "OFF",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "ON",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 270,
      "y": 400,
      "wires": [
         [
            "cc1befbc.b69d"
         ],
         [
            "cf423d0.7eb10c"
         ]
      ]
   },
   {
      "id": "ee03e926.2aa5f8",
      "type": "openhab2-in",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vNRTime",
      "x": 120,
      "y": 1040,
      "wires": [
         [],
         [
            "229a2ed2.064632"
         ]
      ]
   },
   {
      "id": "229a2ed2.064632",
      "type": "switch",
      "z": "8cb16799.017028",
      "name": "switch ItemStateEvent",
      "property": "payload.type",
      "propertyType": "msg",
      "rules": [
         {
            "t": "eq",
            "v": "ItemStateEvent",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 200,
      "y": 1000,
      "wires": [
         [
            "3b827faa.79d6b"
         ]
      ]
   },
   {
      "id": "cf423d0.7eb10c",
      "type": "switch",
      "z": "8cb16799.017028",
      "name": "Switch WakeupTime",
      "property": "WakeupTime",
      "propertyType": "flow",
      "rules": [
         {
            "t": "eq",
            "v": "1",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "2",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "3",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "4",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "5",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "6",
            "vt": "num"
         }
      ],
      "checkall": "true",
      "outputs": 6,
      "x": 340,
      "y": 580,
      "wires": [
         [
            "3ce66456.af105c",
            "371cbd67.b7dfb2"
         ],
         [
            "3ce66456.af105c",
            "ca0e4fc2.d348e"
         ],
         [
            "115cfaa9.9001d5"
         ],
         [
            "94ccab64.2764e8"
         ],
         [
            "8466dfd9.8ab86"
         ],
         [
            "58b5b2dd.afc13c"
         ]
      ]
   },
   {
      "id": "dda381e7.61c1e",
      "type": "bigtimer",
      "z": "8cb16799.017028",
      "outtopic": "",
      "outpayload1": "ON",
      "outpayload2": "OFF",
      "name": "Big Timer 06:15",
      "lat": "52.37052",
      "lon": "9.73322",
      "starttime": "375",
      "endtime": "390",
      "startoff": "0",
      "endoff": "0",
      "offs": 0,
      "outtext1": "Alarm Clock ON",
      "outtext2": "Alarm Clock OFF",
      "timeout": 1440,
      "sun": true,
      "mon": true,
      "tue": true,
      "wed": true,
      "thu": true,
      "fri": true,
      "sat": true,
      "jan": true,
      "feb": true,
      "mar": true,
      "apr": true,
      "may": true,
      "jun": true,
      "jul": true,
      "aug": true,
      "sep": true,
      "oct": true,
      "nov": true,
      "dec": true,
      "day1": 0,
      "month1": 0,
      "day2": 0,
      "month2": 0,
      "day3": 0,
      "month3": 0,
      "day4": 0,
      "month4": 0,
      "day5": 0,
      "month5": 0,
      "d1": 0,
      "w1": 0,
      "d2": 0,
      "w2": 0,
      "d3": 0,
      "w3": 0,
      "d4": 0,
      "w4": 0,
      "d5": 0,
      "w5": 0,
      "suspend": false,
      "random": false,
      "repeat": false,
      "atstart": false,
      "odd": false,
      "even": false,
      "x": 1140,
      "y": 480,
      "wires": [
         [
            "6d5c1102.65b85"
         ],
         [],
         []
      ]
   },
   {
      "id": "4c048092.c3ad4",
      "type": "bigtimer",
      "z": "8cb16799.017028",
      "outtopic": "",
      "outpayload1": "ON",
      "outpayload2": "OFF",
      "name": "Big Timer 06:30",
      "lat": "52.37052",
      "lon": "9.73322",
      "starttime": "390",
      "endtime": "405",
      "startoff": "0",
      "endoff": "0",
      "offs": 0,
      "outtext1": "Alarm Clock ON",
      "outtext2": "Alarm Clock OFF",
      "timeout": 1440,
      "sun": true,
      "mon": true,
      "tue": true,
      "wed": true,
      "thu": true,
      "fri": true,
      "sat": true,
      "jan": true,
      "feb": true,
      "mar": true,
      "apr": true,
      "may": true,
      "jun": true,
      "jul": true,
      "aug": true,
      "sep": true,
      "oct": true,
      "nov": true,
      "dec": true,
      "day1": 0,
      "month1": 0,
      "day2": 0,
      "month2": 0,
      "day3": 0,
      "month3": 0,
      "day4": 0,
      "month4": 0,
      "day5": 0,
      "month5": 0,
      "d1": 0,
      "w1": 0,
      "d2": 0,
      "w2": 0,
      "d3": 0,
      "w3": 0,
      "d4": 0,
      "w4": 0,
      "d5": 0,
      "w5": 0,
      "suspend": false,
      "random": false,
      "repeat": false,
      "atstart": false,
      "odd": false,
      "even": false,
      "x": 1140,
      "y": 560,
      "wires": [
         [
            "6d5c1102.65b85"
         ],
         [],
         []
      ]
   },
   {
      "id": "371cbd67.b7dfb2",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "set to default",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "default",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 850,
      "y": 400,
      "wires": [
         [
            "6e663c33.af74c4",
            "cbb322cd.e37f4"
         ]
      ]
   },
   {
      "id": "6d5c1102.65b85",
      "type": "switch",
      "z": "8cb16799.017028",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
         {
            "t": "eq",
            "v": "ON",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "OFF",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 1370,
      "y": 580,
      "wires": [
         [
            "da06a388.fa50f",
            "86f32ebd.9c843",
            "661f927d.996d9c"
         ],
         [
            "86f32ebd.9c843",
            "da06a388.fa50f"
         ]
      ]
   },
   {
      "id": "f05f384f.2dfe28",
      "type": "delay",
      "z": "8cb16799.017028",
      "name": "",
      "pauseType": "delay",
      "timeout": "6",
      "timeoutUnits": "minutes",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "x": 1580,
      "y": 380,
      "wires": [
         []
      ]
   },
   {
      "id": "17d2851c.b18b0b",
      "type": "bigtimer",
      "z": "8cb16799.017028",
      "outtopic": "",
      "outpayload1": "ON",
      "outpayload2": "OFF",
      "name": "Big Timer 07:15",
      "lat": "52.37052",
      "lon": "9.73322",
      "starttime": "435",
      "endtime": "450",
      "startoff": "0",
      "endoff": "0",
      "offs": 0,
      "outtext1": "Alarm Clock ON",
      "outtext2": "Alarm Clock OFF",
      "timeout": 1440,
      "sun": true,
      "mon": true,
      "tue": true,
      "wed": true,
      "thu": true,
      "fri": true,
      "sat": true,
      "jan": true,
      "feb": true,
      "mar": true,
      "apr": true,
      "may": true,
      "jun": true,
      "jul": true,
      "aug": true,
      "sep": true,
      "oct": true,
      "nov": true,
      "dec": true,
      "day1": 0,
      "month1": 0,
      "day2": 0,
      "month2": 0,
      "day3": 0,
      "month3": 0,
      "day4": 0,
      "month4": 0,
      "day5": 0,
      "month5": 0,
      "d1": 0,
      "w1": 0,
      "d2": 0,
      "w2": 0,
      "d3": 0,
      "w3": 0,
      "d4": 0,
      "w4": 0,
      "d5": 0,
      "w5": 0,
      "suspend": false,
      "random": false,
      "repeat": false,
      "atstart": false,
      "odd": false,
      "even": false,
      "x": 1140,
      "y": 800,
      "wires": [
         [
            "6d5c1102.65b85"
         ],
         [],
         []
      ]
   },
   {
      "id": "c79f3cc5.641ac",
      "type": "bigtimer",
      "z": "8cb16799.017028",
      "outtopic": "",
      "outpayload1": "ON",
      "outpayload2": "OFF",
      "name": "Big Timer 06:45",
      "lat": "52.37052",
      "lon": "9.73322",
      "starttime": "405",
      "endtime": "420",
      "startoff": "0",
      "endoff": "0",
      "offs": 0,
      "outtext1": "Alarm Clock ON",
      "outtext2": "Alarm Clock OFF",
      "timeout": 1440,
      "sun": true,
      "mon": true,
      "tue": true,
      "wed": true,
      "thu": true,
      "fri": true,
      "sat": true,
      "jan": true,
      "feb": true,
      "mar": true,
      "apr": true,
      "may": true,
      "jun": true,
      "jul": true,
      "aug": true,
      "sep": true,
      "oct": true,
      "nov": true,
      "dec": true,
      "day1": 0,
      "month1": 0,
      "day2": 0,
      "month2": 0,
      "day3": 0,
      "month3": 0,
      "day4": 0,
      "month4": 0,
      "day5": 0,
      "month5": 0,
      "d1": 0,
      "w1": 0,
      "d2": 0,
      "w2": 0,
      "d3": 0,
      "w3": 0,
      "d4": 0,
      "w4": 0,
      "d5": 0,
      "w5": 0,
      "suspend": false,
      "random": false,
      "repeat": false,
      "atstart": false,
      "odd": false,
      "even": false,
      "x": 1140,
      "y": 640,
      "wires": [
         [
            "6d5c1102.65b85"
         ],
         [],
         []
      ]
   },
   {
      "id": "ab4b5bfb.ed6e38",
      "type": "bigtimer",
      "z": "8cb16799.017028",
      "outtopic": "",
      "outpayload1": "ON",
      "outpayload2": "OFF",
      "name": "Big Timer 07:00",
      "lat": "52.37052",
      "lon": "9.73322",
      "starttime": "420",
      "endtime": "435",
      "startoff": "0",
      "endoff": "0",
      "offs": 0,
      "outtext1": "Alarm Clock ON",
      "outtext2": "Alarm Clock OFF",
      "timeout": 1440,
      "sun": true,
      "mon": true,
      "tue": true,
      "wed": true,
      "thu": true,
      "fri": true,
      "sat": true,
      "jan": true,
      "feb": true,
      "mar": true,
      "apr": true,
      "may": true,
      "jun": true,
      "jul": true,
      "aug": true,
      "sep": true,
      "oct": true,
      "nov": true,
      "dec": true,
      "day1": 0,
      "month1": 0,
      "day2": 0,
      "month2": 0,
      "day3": 0,
      "month3": 0,
      "day4": 0,
      "month4": 0,
      "day5": 0,
      "month5": 0,
      "d1": 0,
      "w1": 0,
      "d2": 0,
      "w2": 0,
      "d3": 0,
      "w3": 0,
      "d4": 0,
      "w4": 0,
      "d5": 0,
      "w5": 0,
      "suspend": false,
      "random": false,
      "repeat": false,
      "atstart": false,
      "odd": false,
      "even": false,
      "x": 1140,
      "y": 720,
      "wires": [
         [
            "6d5c1102.65b85"
         ],
         [],
         []
      ]
   },
   {
      "id": "86f32ebd.9c843",
      "type": "openhab2-out",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vNRStartAlarmClockPLAY11",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1640,
      "y": 660,
      "wires": []
   },
   {
      "id": "978f3483.ef2028",
      "type": "inject",
      "z": "8cb16799.017028",
      "name": "",
      "topic": "",
      "payload": "ON",
      "payloadType": "str",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 1390,
      "y": 640,
      "wires": [
         [
            "86f32ebd.9c843"
         ]
      ]
   },
   {
      "id": "44012770.040918",
      "type": "inject",
      "z": "8cb16799.017028",
      "name": "",
      "topic": "",
      "payload": "OFF",
      "payloadType": "str",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 1390,
      "y": 680,
      "wires": [
         [
            "86f32ebd.9c843"
         ]
      ]
   },
   {
      "id": "fe4ad419.3873b8",
      "type": "openhab2-in",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vNRStartAlarmClockPLAY11",
      "x": 1640,
      "y": 720,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "669124a0.5cdb7c",
      "type": "inject",
      "z": "8cb16799.017028",
      "name": "",
      "topic": "",
      "payload": "OFF",
      "payloadType": "str",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 1370,
      "y": 260,
      "wires": [
         [
            "927e55ec.d1a0b8"
         ]
      ]
   },
   {
      "id": "c6badec3.4164",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "AlarmClock",
            "pt": "flow",
            "to": "payload.payload.value",
            "tot": "msg"
         },
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "payload.payload.value",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 240,
      "y": 360,
      "wires": [
         [
            "6dd554e1.c4a6ac",
            "73e1ab0d.2c9794"
         ]
      ]
   },
   {
      "id": "6fbb3de5.040e04",
      "type": "switch",
      "z": "8cb16799.017028",
      "name": "switch ItemStateEvent",
      "property": "payload.type",
      "propertyType": "msg",
      "rules": [
         {
            "t": "eq",
            "v": "ItemStateEvent",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 220,
      "y": 320,
      "wires": [
         [
            "c6badec3.4164"
         ]
      ]
   },
   {
      "id": "e73f0c00.5dd13",
      "type": "delay",
      "z": "8cb16799.017028",
      "name": "",
      "pauseType": "delay",
      "timeout": "2",
      "timeoutUnits": "seconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "x": 180,
      "y": 780,
      "wires": [
         [
            "cf423d0.7eb10c",
            "726ef3be.6d35dc"
         ]
      ]
   },
   {
      "id": "56667d97.aa66a4",
      "type": "openhab2-out",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vNRTime",
      "topic": "ItemCommand",
      "payload": "",
      "x": 520,
      "y": 1100,
      "wires": []
   },
   {
      "id": "4cf836fb.f4bc38",
      "type": "ui_dropdown",
      "z": "8cb16799.017028",
      "name": "",
      "label": "Weckzeit einstellen",
      "place": "Select option",
      "group": "c7643340.619df",
      "order": 3,
      "width": 0,
      "height": 0,
      "passthru": true,
      "options": [
         {
            "label": "06:00",
            "value": 1,
            "type": "num"
         },
         {
            "label": "06:15",
            "value": 2,
            "type": "num"
         },
         {
            "label": "06:30",
            "value": 3,
            "type": "num"
         },
         {
            "label": "06:45",
            "value": 4,
            "type": "num"
         },
         {
            "label": "07:00",
            "value": 5,
            "type": "num"
         },
         {
            "label": "07:15",
            "value": 6,
            "type": "num"
         }
      ],
      "payload": "",
      "topic": "",
      "x": 330,
      "y": 1100,
      "wires": [
         [
            "56667d97.aa66a4"
         ]
      ]
   },
   {
      "id": "13d1d5e1.22f0fa",
      "type": "ui_slider",
      "z": "8cb16799.017028",
      "name": "",
      "label": "Lautstärke",
      "group": "c7643340.619df",
      "order": 9,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "",
      "min": 0,
      "max": "100",
      "step": "5",
      "x": 1010,
      "y": 1140,
      "wires": [
         [
            "8ef185f1.a28f88"
         ]
      ]
   },
   {
      "id": "975f1adf.e84e28",
      "type": "openhab2-out",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dSonosPLAY12Controler",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1270,
      "y": 960,
      "wires": []
   },
   {
      "id": "8ef185f1.a28f88",
      "type": "openhab2-out",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dSonosPLAY11Volume",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1260,
      "y": 1140,
      "wires": []
   },
   {
      "id": "deaeb244.247ca",
      "type": "openhab2-out",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vSonosSnoozePLAY11",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1260,
      "y": 1020,
      "wires": []
   },
   {
      "id": "d53adaf7.30fb18",
      "type": "ui_slider",
      "z": "8cb16799.017028",
      "name": "",
      "label": "Snooze Zeit",
      "group": "c7643340.619df",
      "order": 6,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "",
      "min": 0,
      "max": 10,
      "step": 1,
      "x": 1010,
      "y": 1080,
      "wires": [
         [
            "64ea2571.29b66c"
         ]
      ]
   },
   {
      "id": "16564238.161e0e",
      "type": "ui_button",
      "z": "8cb16799.017028",
      "name": "",
      "group": "c7643340.619df",
      "order": 5,
      "width": 0,
      "height": 0,
      "passthru": true,
      "label": "Snooze",
      "color": "",
      "bgcolor": "",
      "icon": "",
      "payload": "ON",
      "payloadType": "str",
      "topic": "",
      "x": 1020,
      "y": 1020,
      "wires": [
         [
            "deaeb244.247ca"
         ]
      ]
   },
   {
      "id": "ff82e4af.31a758",
      "type": "openhab2-out",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vAlarmClockSonosPLAY11",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1600,
      "y": 280,
      "wires": []
   },
   {
      "id": "2f3e2d7f.d1f002",
      "type": "openhab2-in",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vAlarmClockSonosPLAY11",
      "x": 170,
      "y": 260,
      "wires": [
         [],
         [
            "6fbb3de5.040e04"
         ]
      ]
   },
   {
      "id": "61728268.3d8b1c",
      "type": "inject",
      "z": "8cb16799.017028",
      "name": "",
      "topic": "",
      "payload": "OFF",
      "payloadType": "str",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 850,
      "y": 1020,
      "wires": [
         [
            "16564238.161e0e"
         ]
      ]
   },
   {
      "id": "e3b0989a.70aed8",
      "type": "inject",
      "z": "8cb16799.017028",
      "name": "",
      "topic": "",
      "payload": "5",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 850,
      "y": 1080,
      "wires": [
         [
            "d53adaf7.30fb18"
         ]
      ]
   },
   {
      "id": "60cd4ab9.8787b4",
      "type": "inject",
      "z": "8cb16799.017028",
      "name": "",
      "topic": "",
      "payload": "2",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 130,
      "y": 1120,
      "wires": [
         [
            "e804672a.85d398",
            "4cf836fb.f4bc38"
         ]
      ]
   },
   {
      "id": "e804672a.85d398",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "WakeupTime",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 340,
      "y": 1140,
      "wires": [
         []
      ]
   },
   {
      "id": "62ab63bc.d933cc",
      "type": "inject",
      "z": "8cb16799.017028",
      "name": "",
      "topic": "",
      "payload": "manual",
      "payloadType": "str",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 620,
      "y": 320,
      "wires": [
         [
            "cc1befbc.b69d"
         ]
      ]
   },
   {
      "id": "927e55ec.d1a0b8",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "AlarmClock",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1570,
      "y": 240,
      "wires": [
         []
      ]
   },
   {
      "id": "64ea2571.29b66c",
      "type": "openhab2-out",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vSonosSnoozeTimePLAY11",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1280,
      "y": 1080,
      "wires": []
   },
   {
      "id": "7b27054.a5e76fc",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "Permanent",
            "tot": "flow"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1580,
      "y": 460,
      "wires": [
         [
            "f05f384f.2dfe28"
         ]
      ]
   },
   {
      "id": "661f927d.996d9c",
      "type": "switch",
      "z": "8cb16799.017028",
      "name": "",
      "property": "Permanent",
      "propertyType": "flow",
      "rules": [
         {
            "t": "eq",
            "v": "OFF",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 1590,
      "y": 520,
      "wires": [
         [
            "7b27054.a5e76fc"
         ]
      ]
   },
   {
      "id": "8df6e09b.995de",
      "type": "openhab2-in",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vSonosSnoozeTimePLAY11",
      "x": 1580,
      "y": 1080,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "3a945217.a4f40e",
      "type": "openhab2-in",
      "z": "8cb16799.017028",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "vSonosSnoozePLAY11",
      "x": 1560,
      "y": 1020,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "ca0e4fc2.d348e",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "set to default",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "default",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 850,
      "y": 480,
      "wires": [
         [
            "dda381e7.61c1e",
            "cbb322cd.e37f4"
         ]
      ]
   },
   {
      "id": "115cfaa9.9001d5",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "set to default",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "default",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 850,
      "y": 560,
      "wires": [
         [
            "4c048092.c3ad4",
            "cbb322cd.e37f4"
         ]
      ]
   },
   {
      "id": "94ccab64.2764e8",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "set to default",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "default",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 850,
      "y": 640,
      "wires": [
         [
            "c79f3cc5.641ac"
         ]
      ]
   },
   {
      "id": "8466dfd9.8ab86",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "set to default",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "default",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 850,
      "y": 720,
      "wires": [
         [
            "ab4b5bfb.ed6e38"
         ]
      ]
   },
   {
      "id": "58b5b2dd.afc13c",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "set to default",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "default",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 850,
      "y": 800,
      "wires": [
         [
            "17d2851c.b18b0b"
         ]
      ]
   },
   {
      "id": "3b827faa.79d6b",
      "type": "change",
      "z": "8cb16799.017028",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "WakeupTime",
            "pt": "flow",
            "to": "payload.payload.Value",
            "tot": "msg"
         },
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "AlarmClock",
            "tot": "flow"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 220,
      "y": 960,
      "wires": [
         [
            "c88f422b.72a81",
            "34d4d499.b76dbc"
         ]
      ]
   },
   {
      "id": "c88f422b.72a81",
      "type": "switch",
      "z": "8cb16799.017028",
      "name": "Alarm Clock ON",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
         {
            "t": "eq",
            "v": "ON",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 260,
      "y": 920,
      "wires": [
         [
            "e73f0c00.5dd13",
            "62fe5471.f93b9c"
         ]
      ]
   },
   {
      "id": "3ce66456.af105c",
      "type": "debug",
      "z": "8cb16799.017028",
      "name": "object",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 450,
      "y": 460,
      "wires": []
   },
   {
      "id": "6dd554e1.c4a6ac",
      "type": "debug",
      "z": "8cb16799.017028",
      "name": "object",
      "active": true,
      "console": "false",
      "complete": "payload",
      "x": 410,
      "y": 360,
      "wires": []
   },
   {
      "id": "cbb322cd.e37f4",
      "type": "debug",
      "z": "8cb16799.017028",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "payload",
      "x": 1130,
      "y": 300,
      "wires": []
   },
   {
      "id": "62fe5471.f93b9c",
      "type": "debug",
      "z": "8cb16799.017028",
      "name": "object",
      "active": true,
      "console": "false",
      "complete": "payload",
      "x": 470,
      "y": 920,
      "wires": []
   },
   {
      "id": "34d4d499.b76dbc",
      "type": "debug",
      "z": "8cb16799.017028",
      "name": "payload",
      "active": true,
      "console": "false",
      "complete": "payload",
      "x": 440,
      "y": 960,
      "wires": []
   },
   {
      "id": "726ef3be.6d35dc",
      "type": "debug",
      "z": "8cb16799.017028",
      "name": "payload nach delay",
      "active": true,
      "console": "false",
      "complete": "payload",
      "x": 390,
      "y": 780,
      "wires": []
   },
   {
      "id": "4d377d6b.eec334",
      "type": "openhab2-controller",
      "z": "",
      "name": "openhab",
      "protocol": "http",
      "host": "192.168.1.18",
      "port": "8080",
      "path": "",
      "username": "",
      "password": ""
   },
   {
      "id": "c7643340.619df",
      "type": "ui_group",
      "z": "",
      "name": "Wecker Einstellungen",
      "tab": "338633f3.b9395c",
      "order": 2,
      "disp": true,
      "width": "6"
   },
   {
      "id": "338633f3.b9395c",
      "type": "ui_tab",
      "z": "",
      "name": "M & P",
      "icon": "dashboard"
   }
]