OH-NodeRED-WallMote.json
[
   {
      "id": "adb88874.9d5ee8",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dWallMoteQuad2",
      "x": 100,
      "y": 440,
      "wires": [
         [],
         [
            "7c07eb8b.7b0544",
            "a6380034.2a076"
         ]
      ]
   },
   {
      "id": "7c07eb8b.7b0544",
      "type": "switch",
      "z": "63a1ca3b.87b724",
      "name": "switch payload type",
      "property": "payload.type",
      "propertyType": "msg",
      "rules": [
         {
            "t": "eq",
            "v": "ItemStateEvent",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 310,
      "y": 480,
      "wires": [
         [
            "b9179493.805b08"
         ]
      ]
   },
   {
      "id": "b9179493.805b08",
      "type": "switch",
      "z": "63a1ca3b.87b724",
      "name": "switch scene",
      "property": "payload.payload.value",
      "propertyType": "msg",
      "rules": [
         {
            "t": "eq",
            "v": "1.0",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "1.1",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "1.2",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "2.0",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "2.1",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "2.2",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "3.0",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "3.1",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "3.2",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "4.0",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "4.1",
            "vt": "str"
         },
         {
            "t": "eq",
            "v": "4.2",
            "vt": "str"
         }
      ],
      "checkall": "true",
      "outputs": 12,
      "x": 510,
      "y": 480,
      "wires": [
         [
            "8a6ec0ed.f4cb4"
         ],
         [],
         [
            "91271fa5.68d26"
         ],
         [
            "831a6e9a.1e3a9"
         ],
         [],
         [
            "28d2556e.775bba"
         ],
         [
            "75cd47e8.88d578"
         ],
         [],
         [
            "ca99836f.41595"
         ],
         [
            "3eedccec.7238c4"
         ],
         [],
         [
            "d4054616.92f968"
         ]
      ]
   },
   {
      "id": "d892f2b4.9b38d",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "PlugSwitches ON",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "ON",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "AllPlug",
            "pt": "flow",
            "to": "0",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 970,
      "y": 680,
      "wires": [
         [
            "cd56edbe.50a4e",
            "10824a7b.f96b26"
         ]
      ]
   },
   {
      "id": "3eedccec.7238c4",
      "type": "switch",
      "z": "63a1ca3b.87b724",
      "name": "FourthTouchButton",
      "property": "AllPlug",
      "propertyType": "flow",
      "rules": [
         {
            "t": "eq",
            "v": "0",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "1",
            "vt": "num"
         }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 730,
      "y": 660,
      "wires": [
         [
            "dd0ae4b9.3cf988"
         ],
         [
            "d892f2b4.9b38d"
         ]
      ]
   },
   {
      "id": "dd0ae4b9.3cf988",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "PlugSwitches OFF",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "OFF",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "AllPlug",
            "pt": "flow",
            "to": "1",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 970,
      "y": 640,
      "wires": [
         [
            "10824a7b.f96b26",
            "cd56edbe.50a4e"
         ]
      ]
   },
   {
      "id": "5ec4eba4.3eb764",
      "type": "inject",
      "z": "63a1ca3b.87b724",
      "name": "",
      "topic": "",
      "payload": "0",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 90,
      "y": 40,
      "wires": [
         [
            "dd5f4aa2.b9b678"
         ]
      ]
   },
   {
      "id": "dd5f4aa2.b9b678",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "AllPlug",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 240,
      "y": 40,
      "wires": [
         []
      ]
   },
   {
      "id": "e701da3b.0df8d8",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "HueEZ",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 240,
      "y": 80,
      "wires": [
         []
      ]
   },
   {
      "id": "831a6e9a.1e3a9",
      "type": "switch",
      "z": "63a1ca3b.87b724",
      "name": "SecondTouchButton",
      "property": "HueWZ",
      "propertyType": "flow",
      "rules": [
         {
            "t": "eq",
            "v": "0",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "1",
            "vt": "num"
         }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 740,
      "y": 340,
      "wires": [
         [
            "aaf86370.f95cc"
         ],
         [
            "fd4f169c.47b428"
         ]
      ]
   },
   {
      "id": "e723a91.d12ae58",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "HUE_EZ ON",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "ON",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "HueEZ",
            "pt": "flow",
            "to": "0",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 970,
      "y": 100,
      "wires": [
         [
            "c1b0263d.9e2198",
            "aebfb5fe.2e5c98",
            "886542ea.cae78"
         ]
      ]
   },
   {
      "id": "6fa0d805.2696a8",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "HUE_EZ OFF",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "OFF",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "HueEZ",
            "pt": "flow",
            "to": "1",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 980,
      "y": 60,
      "wires": [
         [
            "c1b0263d.9e2198",
            "aebfb5fe.2e5c98",
            "886542ea.cae78"
         ]
      ]
   },
   {
      "id": "c1b0263d.9e2198",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dSwitch_HUE_EZ_L",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 40,
      "wires": []
   },
   {
      "id": "aebfb5fe.2e5c98",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dSwitch_HUE_EZ_M",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 80,
      "wires": []
   },
   {
      "id": "886542ea.cae78",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dSwitch_HUE_EZ_R",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 120,
      "wires": []
   },
   {
      "id": "cd56edbe.50a4e",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dPlugSwitch_WZ",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1230,
      "y": 640,
      "wires": []
   },
   {
      "id": "10824a7b.f96b26",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dPlugSwitch_BZ",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1220,
      "y": 680,
      "wires": []
   },
   {
      "id": "d4a9995f.cc6c18",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dPlugSwitch_BZ",
      "x": 1500,
      "y": 700,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "9a81f762.04ad68",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dPlugSwitch_WZ",
      "x": 1500,
      "y": 640,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "56ac00bf.18317",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dSwitch_HUE_WZ",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1230,
      "y": 340,
      "wires": []
   },
   {
      "id": "2131e12c.9e9cbe",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dSwitch_HUE_WZ",
      "x": 1510,
      "y": 340,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "49dfed31.ce8e34",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "dimWZ",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 240,
      "y": 200,
      "wires": [
         []
      ]
   },
   {
      "id": "204fa2db.43617e",
      "type": "inject",
      "z": "63a1ca3b.87b724",
      "name": "",
      "topic": "",
      "payload": "20",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 90,
      "y": 200,
      "wires": [
         [
            "49dfed31.ce8e34"
         ]
      ]
   },
   {
      "id": "5e3ce0b6.37c46",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_EZ_L",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 180,
      "wires": []
   },
   {
      "id": "193bec7.9d48114",
      "type": "inject",
      "z": "63a1ca3b.87b724",
      "name": "",
      "topic": "",
      "payload": "0",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 90,
      "y": 80,
      "wires": [
         [
            "e701da3b.0df8d8"
         ]
      ]
   },
   {
      "id": "2f98c0f6.399d7",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_EZ_M",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 220,
      "wires": []
   },
   {
      "id": "b7aff813.f8c4c8",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_EZ_R",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 260,
      "wires": []
   },
   {
      "id": "91271fa5.68d26",
      "type": "function",
      "z": "63a1ca3b.87b724",
      "name": "Dimmer - UP EZ",
      "func": "var dim = flow.get('dim');\nvar newMsg = {payload: 0};\ndim = dim + 4;\nif (dim < 100) {\n    newMsg.payload = dim;\n    //context.set('dim',dim);\n    flow.set('dim',dim);\n} else {\n    newMsg.payload = 100;\n    //context.set('dim',3);\n    //flow.set('dim',0);\n}\nreturn newMsg;",
      "outputs": 1,
      "noerr": 0,
      "x": 720,
      "y": 220,
      "wires": [
         [
            "5e3ce0b6.37c46",
            "2f98c0f6.399d7",
            "b7aff813.f8c4c8"
         ]
      ]
   },
   {
      "id": "a6380034.2a076",
      "type": "debug",
      "z": "63a1ca3b.87b724",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 270,
      "y": 420,
      "wires": []
   },
   {
      "id": "3db7b20e.3362ce",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_EZ_L",
      "x": 1520,
      "y": 200,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "8a6ec0ed.f4cb4",
      "type": "switch",
      "z": "63a1ca3b.87b724",
      "name": "FirstTouchButton",
      "property": "HueEZ",
      "propertyType": "flow",
      "rules": [
         {
            "t": "eq",
            "v": "0",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "1",
            "vt": "num"
         }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 730,
      "y": 80,
      "wires": [
         [
            "6fa0d805.2696a8"
         ],
         [
            "e723a91.d12ae58"
         ]
      ]
   },
   {
      "id": "c71173ae.f21ff",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_EZ_L",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 740,
      "wires": []
   },
   {
      "id": "150b84f2.bb18bb",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_EZ_M",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 780,
      "wires": []
   },
   {
      "id": "8b07a26a.5978",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_EZ_R",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 820,
      "wires": []
   },
   {
      "id": "ca99836f.41595",
      "type": "function",
      "z": "63a1ca3b.87b724",
      "name": "Dimmer - DOWN EZ",
      "func": "var dim = flow.get('dim');\nvar newMsg = {payload: 0};\ndim = dim - 4;\nif (dim > 0) {\n    newMsg.payload = dim;\n    //context.set('dim',dim);\n    flow.set('dim',dim);\n} else {\n    newMsg.payload = 0;\n    //context.set('dim',3);\n    //flow.set('dim',3);\n}\nreturn newMsg;",
      "outputs": 1,
      "noerr": 0,
      "x": 740,
      "y": 780,
      "wires": [
         [
            "c71173ae.f21ff",
            "150b84f2.bb18bb",
            "8b07a26a.5978"
         ]
      ]
   },
   {
      "id": "4e7f9b8b.cb1334",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "dim",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 230,
      "y": 240,
      "wires": [
         []
      ]
   },
   {
      "id": "1cc6d91.d19c227",
      "type": "inject",
      "z": "63a1ca3b.87b724",
      "name": "",
      "topic": "",
      "payload": "50",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 90,
      "y": 240,
      "wires": [
         [
            "4e7f9b8b.cb1334"
         ]
      ]
   },
   {
      "id": "384a99c.a76be66",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "HueWZ",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 240,
      "y": 160,
      "wires": [
         []
      ]
   },
   {
      "id": "80b8c2a5.3bc3e",
      "type": "inject",
      "z": "63a1ca3b.87b724",
      "name": "",
      "topic": "",
      "payload": "0",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 90,
      "y": 160,
      "wires": [
         [
            "384a99c.a76be66"
         ]
      ]
   },
   {
      "id": "aaf86370.f95cc",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "HUE_WZ OFF",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "OFF",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "HueWZ",
            "pt": "flow",
            "to": "1",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 980,
      "y": 320,
      "wires": [
         [
            "56ac00bf.18317"
         ]
      ]
   },
   {
      "id": "fd4f169c.47b428",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "HUE_WZ ON",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "ON",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "HueWZ",
            "pt": "flow",
            "to": "0",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 980,
      "y": 360,
      "wires": [
         [
            "56ac00bf.18317"
         ]
      ]
   },
   {
      "id": "ef0a8c19.f1421",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "Licht_WZ ON",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "ON",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "LichtWZ",
            "pt": "flow",
            "to": "0",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1000,
      "y": 580,
      "wires": [
         [
            "57e0f830.a6fe88"
         ]
      ]
   },
   {
      "id": "9658dc68.9bcce",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "Licht_WZ OFF",
      "rules": [
         {
            "t": "set",
            "p": "payload",
            "pt": "msg",
            "to": "OFF",
            "tot": "str"
         },
         {
            "t": "set",
            "p": "LichtWZ",
            "pt": "flow",
            "to": "1",
            "tot": "str"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1000,
      "y": 540,
      "wires": [
         [
            "57e0f830.a6fe88"
         ]
      ]
   },
   {
      "id": "75cd47e8.88d578",
      "type": "switch",
      "z": "63a1ca3b.87b724",
      "name": "ThirdTouchButton",
      "property": "LichtWZ",
      "propertyType": "flow",
      "rules": [
         {
            "t": "eq",
            "v": "0",
            "vt": "num"
         },
         {
            "t": "eq",
            "v": "1",
            "vt": "num"
         }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 750,
      "y": 560,
      "wires": [
         [
            "9658dc68.9bcce"
         ],
         [
            "ef0a8c19.f1421"
         ]
      ]
   },
   {
      "id": "97e9bee0.51d22",
      "type": "change",
      "z": "63a1ca3b.87b724",
      "name": "",
      "rules": [
         {
            "t": "set",
            "p": "LichtWZ",
            "pt": "flow",
            "to": "payload",
            "tot": "msg"
         }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 240,
      "y": 120,
      "wires": [
         []
      ]
   },
   {
      "id": "f6a8b850.aa0a58",
      "type": "inject",
      "z": "63a1ca3b.87b724",
      "name": "",
      "topic": "",
      "payload": "0",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "x": 90,
      "y": 120,
      "wires": [
         [
            "97e9bee0.51d22"
         ]
      ]
   },
   {
      "id": "57e0f830.a6fe88",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_WZ",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1220,
      "y": 560,
      "wires": []
   },
   {
      "id": "c7cd4d6f.0f0f2",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_WZ",
      "x": 1490,
      "y": 560,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "94d06435.fd65e8",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_WZ",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 460,
      "wires": []
   },
   {
      "id": "28d2556e.775bba",
      "type": "function",
      "z": "63a1ca3b.87b724",
      "name": "Dimmer - UP WZ",
      "func": "var dim = flow.get('dimWZ');\nvar newMsg = {payload: 0};\ndim = dim + 4;\nif (dim < 100) {\n    newMsg.payload = dim;\n    //context.set('dimWZ',dim);\n    flow.set('dimWZ',dim);\n} else {\n    newMsg.payload = 100;\n    //context.set('dimWZ',3);\n    //flow.set('dimWZ',0);\n}\nreturn newMsg;",
      "outputs": 1,
      "noerr": 0,
      "x": 730,
      "y": 460,
      "wires": [
         [
            "94d06435.fd65e8"
         ]
      ]
   },
   {
      "id": "750de7bd.a89728",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_WZ",
      "x": 1510,
      "y": 460,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "2fcba81e.aab2b8",
      "type": "openhab2-out",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_WZ",
      "topic": "ItemCommand",
      "payload": "",
      "x": 1240,
      "y": 900,
      "wires": []
   },
   {
      "id": "d4054616.92f968",
      "type": "function",
      "z": "63a1ca3b.87b724",
      "name": "Dimmer - DOWN WZ",
      "func": "var dim = flow.get('dimWZ');\nvar newMsg = {payload: 0};\ndim = dim - 4;\nif (dim > 0) {\n    newMsg.payload = dim;\n    flow.set('dimWZ',dim);\n} else {\n    newMsg.payload = 0;\n}\nreturn newMsg;",
      "outputs": 1,
      "noerr": 0,
      "x": 740,
      "y": 900,
      "wires": [
         [
            "2fcba81e.aab2b8"
         ]
      ]
   },
   {
      "id": "3f7f88bf.e1f858",
      "type": "openhab2-in",
      "z": "63a1ca3b.87b724",
      "name": "",
      "controller": "4d377d6b.eec334",
      "itemname": "dDimmer_HUE_WZ",
      "x": 1510,
      "y": 900,
      "wires": [
         [],
         []
      ]
   },
   {
      "id": "4d377d6b.eec334",
      "type": "openhab2-controller",
      "z": "",
      "name": "openhab",
      "protocol": "http",
      "host": "192.168.1.18",
      "port": "8080",
      "path": "",
      "username": "",
      "password": ""
   }
]