OH-NodeRED-Timer.json
[
<<<<<<< HEAD
   {
       "id": "7904012.7a7a3",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "Alarm ON or OFF",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "OFF",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 160,
       "y": 320,
       "wires": [
           [
               "352947d7.563f3"
           ],
           [
               "46f23aa4.efbab4"
           ]
       ]
   },
   {
       "id": "352947d7.563f3",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "Switch WakeupTime",
       "property": "WakeupTime",
       "propertyType": "flow",
       "rules": [
           {
               "t": "eq",
               "v": "1",
               "vt": "num"
           },
           {
               "t": "eq",
               "v": "2",
               "vt": "num"
           },
           {
               "t": "eq",
               "v": "3",
               "vt": "num"
           },
           {
               "t": "eq",
               "v": "4",
               "vt": "num"
           },
           {
               "t": "eq",
               "v": "5",
               "vt": "num"
           },
           {
               "t": "eq",
               "v": "6",
               "vt": "num"
           }
       ],
       "checkall": "true",
       "outputs": 6,
       "x": 420,
       "y": 660,
       "wires": [
           [
               "f1d011b1.e9fa5",
               "3624bc43.bb5f3c"
           ],
           [
               "f1d011b1.e9fa5",
               "52c4d27f.51c684"
           ],
           [
               "fa9c65d3.bff6b",
               "f1d011b1.e9fa5"
           ],
           [
               "6e80b6cc.16f898",
               "f1d011b1.e9fa5"
           ],
           [
               "f3799158.407d2",
               "f1d011b1.e9fa5"
           ],
           [
               "1c469869.e130a8",
               "f1d011b1.e9fa5"
           ]
       ]
   },
   {
       "id": "24ac9740.ba713",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to default",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "default",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1050,
       "y": 440,
       "wires": [
           [
               "7eaae161.a61c6"
           ]
       ]
   },
   {
       "id": "ccf9ccbd.520f6",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 140,
       "y": 900,
       "wires": [
           [
               "5db592f9.ac3e4c"
           ]
       ]
   },
   {
       "id": "9a044f0.edcca3",
       "type": "ui_dropdown",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Weckzeit einstellen",
       "place": "Select option",
       "group": "603153c1.6b6e94",
       "order": 3,
       "width": 0,
       "height": 0,
       "passthru": true,
       "options": [
           {
               "label": "06:00",
               "value": 1,
               "type": "num"
           },
           {
               "label": "06:15",
               "value": 2,
               "type": "num"
           },
           {
               "label": "06:30",
               "value": 3,
               "type": "num"
           },
           {
               "label": "06:45",
               "value": 4,
               "type": "num"
           },
           {
               "label": "07:00",
               "value": 5,
               "type": "num"
           },
           {
               "label": "07:15",
               "value": 6,
               "type": "num"
           }
       ],
       "payload": "",
       "topic": "",
       "x": 330,
       "y": 1200,
       "wires": [
           [
               "b0cc541f.5f8e28"
           ]
       ]
   },
   {
       "id": "dd0f5afb.a2db58",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "2",
       "payloadType": "num",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 150,
       "y": 1220,
       "wires": [
           [
               "9a044f0.edcca3",
               "bd8d8c33.450918"
           ]
       ]
   },
   {
       "id": "5db592f9.ac3e4c",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "WakeupTime",
               "pt": "flow",
               "to": "payload.payload.value",
               "tot": "msg"
           },
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "AlarmClock",
               "tot": "flow"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 160,
       "y": 660,
       "wires": [
           [
               "352947d7.563f3"
           ]
       ]
   },
   {
       "id": "fbf3c446.59b048",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to default",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "default",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1050,
       "y": 520,
       "wires": [
           [
               "4b6b2726.d850c"
           ]
       ]
   },
   {
       "id": "1c073e39.b41b1a",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to default",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "default",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1050,
       "y": 600,
       "wires": [
           [
               "7aac784e.6ad3f8"
           ]
       ]
   },
   {
       "id": "b3f44a38.6d6188",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "is Alarm Clock ON ?",
       "property": "AlarmClock",
       "propertyType": "flow",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 1,
       "x": 170,
       "y": 960,
       "wires": [
           [
               "ccf9ccbd.520f6",
               "9e6c9318.cb53e8"
           ]
       ]
   },
   {
       "id": "f1d011b1.e9fa5",
       "type": "debug",
       "z": "bde9e35a.0d056",
       "name": "object",
       "active": true,
       "console": "false",
       "complete": "payload",
       "x": 610,
       "y": 380,
       "wires": []
   },
   {
       "id": "1a384198.a3c146",
       "type": "debug",
       "z": "bde9e35a.0d056",
       "name": "",
       "active": false,
       "console": "false",
       "complete": "payload",
       "x": 1730,
       "y": 580,
       "wires": []
   },
   {
       "id": "40362c7.3a880d4",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "OFF",
       "payloadType": "str",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 1010,
       "y": 180,
       "wires": [
           [
               "afc95422.6d52d"
           ]
       ]
   },
   {
       "id": "14e68ccc.cce51b",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "AlarmClock",
               "pt": "flow",
               "to": "payload",
               "tot": "msg"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 170,
       "y": 240,
       "wires": [
           [
               "7904012.7a7a3"
           ]
       ]
   },
   {
       "id": "afc95422.6d52d",
       "type": "ui_switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Wecker einschalten",
       "group": "603153c1.6b6e94",
       "order": 1,
       "width": 0,
       "height": 0,
       "passthru": true,
       "decouple": "false",
       "topic": "",
       "style": "",
       "onvalue": "ON",
       "onvalueType": "str",
       "onicon": "",
       "oncolor": "",
       "offvalue": "OFF",
       "offvalueType": "str",
       "officon": "",
       "offcolor": "",
       "x": 1210,
       "y": 200,
       "wires": [
           [
               "d4421367.a09548"
           ]
       ]
   },
   {
       "id": "f6bfc3dd.786a68",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "ON",
       "payloadType": "str",
       "repeat": "",
       "crontab": "",
       "once": false,
       "x": 1010,
       "y": 220,
       "wires": [
           [
               "afc95422.6d52d"
           ]
       ]
   },
   {
       "id": "3624bc43.bb5f3c",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 680,
       "y": 460,
       "wires": [
           [
               "6facad21.69d724"
           ]
       ]
   },
   {
       "id": "52c4d27f.51c684",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 680,
       "y": 540,
       "wires": [
           [
               "ac7b06e4.4dd338"
           ]
       ]
   },
   {
       "id": "fa9c65d3.bff6b",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 680,
       "y": 620,
       "wires": [
           [
               "774c473a.9ff1f8"
           ]
       ]
   },
   {
       "id": "6501b793.cf874",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 140,
       "y": 1020,
       "wires": [
           [
               "b3f44a38.6d6188"
           ]
       ]
   },
   {
       "id": "7eaae161.a61c6",
       "type": "bigtimer",
       "z": "bde9e35a.0d056",
       "outtopic": "",
       "outpayload1": "ON",
       "outpayload2": "OFF",
       "name": "Big Timer",
       "lat": "52.53051",
       "lon": "9.75191",
       "starttime": "900",
       "endtime": "10002",
       "startoff": 0,
       "endoff": 0,
       "offs": 0,
       "outtext1": "",
       "outtext2": "",
       "timeout": 1440,
       "sun": true,
       "mon": true,
       "tue": true,
       "wed": true,
       "thu": true,
       "fri": true,
       "sat": true,
       "jan": true,
       "feb": true,
       "mar": true,
       "apr": true,
       "may": true,
       "jun": true,
       "jul": true,
       "aug": true,
       "sep": true,
       "oct": true,
       "nov": true,
       "dec": true,
       "day1": 0,
       "month1": 0,
       "day2": 0,
       "month2": 0,
       "day3": 0,
       "month3": 0,
       "day4": 0,
       "month4": 0,
       "day5": 0,
       "month5": 0,
       "d1": 0,
       "w1": 0,
       "d2": 0,
       "w2": 0,
       "d3": 0,
       "w3": 0,
       "d4": 0,
       "w4": 0,
       "d5": 0,
       "w5": 0,
       "suspend": false,
       "random": false,
       "repeat": false,
       "atstart": false,
       "odd": false,
       "even": false,
       "x": 1300,
       "y": 460,
       "wires": [
           [
               "8f89ed93.8aec1"
           ],
           [],
           []
       ]
   },
   {
       "id": "4b6b2726.d850c",
       "type": "bigtimer",
       "z": "bde9e35a.0d056",
       "outtopic": "",
       "outpayload1": "ON",
       "outpayload2": "OFF",
       "name": "Big Timer",
       "lat": "52.37052",
       "lon": "9.73322",
       "starttime": "915",
       "endtime": "10002",
       "startoff": 0,
       "endoff": 0,
       "offs": "2",
       "outtext1": "",
       "outtext2": "",
       "timeout": 1440,
       "sun": true,
       "mon": true,
       "tue": true,
       "wed": true,
       "thu": true,
       "fri": true,
       "sat": true,
       "jan": true,
       "feb": true,
       "mar": true,
       "apr": true,
       "may": true,
       "jun": true,
       "jul": true,
       "aug": true,
       "sep": true,
       "oct": true,
       "nov": true,
       "dec": true,
       "day1": 0,
       "month1": 0,
       "day2": 0,
       "month2": 0,
       "day3": 0,
       "month3": 0,
       "day4": 0,
       "month4": 0,
       "day5": 0,
       "month5": 0,
       "d1": 0,
       "w1": 0,
       "d2": 0,
       "w2": 0,
       "d3": 0,
       "w3": 0,
       "d4": 0,
       "w4": 0,
       "d5": 0,
       "w5": 0,
       "suspend": false,
       "random": false,
       "repeat": false,
       "atstart": false,
       "odd": false,
       "even": false,
       "x": 1300,
       "y": 540,
       "wires": [
           [
               "8f89ed93.8aec1"
           ],
           [],
           []
       ]
   },
   {
       "id": "7aac784e.6ad3f8",
       "type": "bigtimer",
       "z": "bde9e35a.0d056",
       "outtopic": "",
       "outpayload1": "ON",
       "outpayload2": "OFF",
       "name": "Big Timer",
       "lat": "52.53051",
       "lon": "9.75191",
       "starttime": "900",
       "endtime": "10002",
       "startoff": 0,
       "endoff": 0,
       "offs": 0,
       "outtext1": "",
       "outtext2": "",
       "timeout": 1440,
       "sun": true,
       "mon": true,
       "tue": true,
       "wed": true,
       "thu": true,
       "fri": true,
       "sat": true,
       "jan": true,
       "feb": true,
       "mar": true,
       "apr": true,
       "may": true,
       "jun": true,
       "jul": true,
       "aug": true,
       "sep": true,
       "oct": true,
       "nov": true,
       "dec": true,
       "day1": 0,
       "month1": 0,
       "day2": 0,
       "month2": 0,
       "day3": 0,
       "month3": 0,
       "day4": 0,
       "month4": 0,
       "day5": 0,
       "month5": 0,
       "d1": 0,
       "w1": 0,
       "d2": 0,
       "w2": 0,
       "d3": 0,
       "w3": 0,
       "d4": 0,
       "w4": 0,
       "d5": 0,
       "w5": 0,
       "suspend": false,
       "random": false,
       "repeat": false,
       "atstart": false,
       "odd": false,
       "even": false,
       "x": 1300,
       "y": 620,
       "wires": [
           [
               "8f89ed93.8aec1"
           ],
           [],
           []
       ]
   },
   {
       "id": "9e6c9318.cb53e8",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "WakeupTime",
               "pt": "flow",
               "to": "payload.payload.oldValue",
               "tot": "msg"
           },
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "reset",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 160,
       "y": 700,
       "wires": [
           [
               "352947d7.563f3"
           ]
       ]
   },
   {
       "id": "bd8d8c33.450918",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "prevWakeupTime",
               "pt": "flow",
               "to": "payload",
               "tot": "msg"
           },
           {
               "t": "set",
               "p": "WakeupTime",
               "pt": "flow",
               "to": "payload",
               "tot": "msg"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 320,
       "y": 1240,
       "wires": [
           [
               "d892fd84.37504"
           ]
       ]
   },
   {
       "id": "919318bf.d36ff",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to manual",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "manual",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1060,
       "y": 480,
       "wires": [
           [
               "7eaae161.a61c6"
           ]
       ]
   },
   {
       "id": "f0641b47.310b48",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to manual",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "manual",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1060,
       "y": 560,
       "wires": [
           [
               "4b6b2726.d850c"
           ]
       ]
   },
   {
       "id": "fc2ef6f7.66d0e",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to manual",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "manual",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1060,
       "y": 640,
       "wires": [
           [
               "7aac784e.6ad3f8"
           ]
       ]
   },
   {
       "id": "6facad21.69d724",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "reset ?",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "reset",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 850,
       "y": 460,
       "wires": [
           [
               "24ac9740.ba713"
           ],
           [
               "919318bf.d36ff"
           ]
       ]
   },
   {
       "id": "d892fd84.37504",
       "type": "function",
       "z": "bde9e35a.0d056",
       "name": "WakeupTime",
       "func": "//var newMsg = {payload: msg.payload};\n//var newMsgColor = {payload: msg.payload};\n//var newMsgToggle = {payload: msg.payload};\n// toggle switch function\nvar newMsg = { payload: msg.payload.length };\nvar value = flow.get('WakeupTime');\nvar oldValue = flow.get('prevWakeupTime');\nnewMsg.oldValue = oldValue;\nnewMsg.value = value;\nnewMsg.prev = \"OFF\";\nreturn newMsg;",
       "outputs": "1",
       "noerr": 0,
       "x": 510,
       "y": 1240,
       "wires": [
           []
       ],
       "inputLabels": [
           "MQTT input"
       ],
       "outputLabels": [
           "newMsgx"
       ]
   },
   {
       "id": "ac7b06e4.4dd338",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "reset ?",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "reset",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 850,
       "y": 540,
       "wires": [
           [
               "fbf3c446.59b048"
           ],
           [
               "f0641b47.310b48"
           ]
       ]
   },
   {
       "id": "774c473a.9ff1f8",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "reset ?",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "reset",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 850,
       "y": 620,
       "wires": [
           [
               "1c073e39.b41b1a"
           ],
           [
               "fc2ef6f7.66d0e"
           ]
       ]
   },
   {
       "id": "46f23aa4.efbab4",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "reset",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "reset",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 130,
       "y": 620,
       "wires": [
           [
               "352947d7.563f3"
           ]
       ]
   },
   {
       "id": "6d95e1ff.b9b318",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "init",
       "topic": "",
       "payload": "manual",
       "payloadType": "str",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 1070,
       "y": 360,
       "wires": [
           [
               "7eaae161.a61c6",
               "4b6b2726.d850c",
               "7aac784e.6ad3f8",
               "d2b0bcfb.f5323",
               "eb8a147b.6111e8",
               "9596f34a.6b4938"
           ]
       ]
   },
   {
       "id": "b0cc541f.5f8e28",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRTime",
       "topic": "ItemCommand",
       "payload": "",
       "x": 520,
       "y": 1200,
       "wires": []
   },
   {
       "id": "ded8ac8c.4df358",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRTime",
       "x": 160,
       "y": 1140,
       "wires": [
           [],
           [
               "5eaed19.2d442b"
           ]
       ]
   },
   {
       "id": "5eaed19.2d442b",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "ItemStateChangedEvent ?",
       "property": "payload.type",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ItemStateChangedEvent",
               "vt": "str"
           }
       ],
       "checkall": "false",
       "outputs": 1,
       "x": 420,
       "y": 1140,
       "wires": [
           [
               "f348101f.b0db4"
           ]
       ],
       "outputLabels": [
           "changed"
       ]
   },
   {
       "id": "f348101f.b0db4",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "WakeupTime",
               "pt": "flow",
               "to": "payload.payload.value",
               "tot": "msg"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 180,
       "y": 1080,
       "wires": [
           [
               "6501b793.cf874"
           ]
       ]
   },
   {
       "id": "d30f03c4.27cf4",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vAlarmClockSonosPLAY11",
       "x": 190,
       "y": 160,
       "wires": [
           [
               "14e68ccc.cce51b"
           ],
           []
       ]
   },
   {
       "id": "d4421367.a09548",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vAlarmClockSonosPLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1480,
       "y": 200,
       "wires": []
   },
   {
       "id": "a2a51612.0199b",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 8,
       "width": 0,
       "height": 0,
       "passthru": false,
       "label": "Pause",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "PAUSE",
       "payloadType": "str",
       "topic": "",
       "x": 1110,
       "y": 1080,
       "wires": [
           [
               "b2ed0f85.56506"
           ]
       ]
   },
   {
       "id": "bbb18c4b.468318",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 7,
       "width": 0,
       "height": 0,
       "passthru": false,
       "label": "Play",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "PLAY",
       "payloadType": "str",
       "topic": "",
       "x": 1110,
       "y": 1040,
       "wires": [
           [
               "b2ed0f85.56506"
           ]
       ]
   },
   {
       "id": "902b7265.5da2f",
       "type": "ui_slider",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Lautstärke",
       "group": "603153c1.6b6e94",
       "order": 9,
       "width": 0,
       "height": 0,
       "passthru": true,
       "topic": "",
       "min": 0,
       "max": "100",
       "step": "5",
       "x": 1090,
       "y": 1240,
       "wires": [
           [
               "d35226ab.edd5e"
           ]
       ]
   },
   {
       "id": "b2ed0f85.56506",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "dSonosPLAY12Controler",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1350,
       "y": 1060,
       "wires": []
   },
   {
       "id": "d35226ab.edd5e",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "dSonosPLAY11Volume",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1340,
       "y": 1240,
       "wires": []
   },
   {
       "id": "e24c2307.5778a8",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozePLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1340,
       "y": 1120,
       "wires": []
   },
   {
       "id": "fe6a66df.c650f8",
       "type": "ui_slider",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Snooze Zeit",
       "group": "603153c1.6b6e94",
       "order": 6,
       "width": 0,
       "height": 0,
       "passthru": true,
       "topic": "",
       "min": 0,
       "max": 10,
       "step": 1,
       "x": 1090,
       "y": 1180,
       "wires": [
           [
               "5fa7365b.ba4fb8"
           ]
       ]
   },
   {
       "id": "a1d8009d.2e2b18",
       "type": "ui_button",
       "z": "bde9e35a.0d056",
       "name": "",
       "group": "603153c1.6b6e94",
       "order": 5,
       "width": 0,
       "height": 0,
       "passthru": true,
       "label": "Snooze",
       "color": "",
       "bgcolor": "",
       "icon": "",
       "payload": "ON",
       "payloadType": "str",
       "topic": "",
       "x": 1100,
       "y": 1120,
       "wires": [
           [
               "e24c2307.5778a8"
           ]
       ]
   },
   {
       "id": "f4ec809b.58c98",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "OFF",
       "payloadType": "str",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 930,
       "y": 1120,
       "wires": [
           [
               "a1d8009d.2e2b18"
           ]
       ]
   },
   {
       "id": "2582b4f6.162834",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "5",
       "payloadType": "num",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 930,
       "y": 1180,
       "wires": [
           [
               "fe6a66df.c650f8"
           ]
       ]
   },
   {
       "id": "5fa7365b.ba4fb8",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozeTimePLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1360,
       "y": 1180,
       "wires": []
   },
   {
       "id": "bdb1cc9e.f22a8",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozeTimePLAY11",
       "x": 1660,
       "y": 1180,
       "wires": [
           [],
           []
       ]
   },
   {
       "id": "b0de2f11.ea8b38",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosSnoozePLAY11",
       "x": 1640,
       "y": 1120,
       "wires": [
           [],
           []
       ]
   },
   {
       "id": "4b0623a5.f52db4",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosPLAY11WeckerPlayRadio2",
       "x": 650,
       "y": 100,
       "wires": [
           [],
           []
       ]
   },
   {
       "id": "9ed98630.f8465",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vSonosPLAY11WeckerPlayRadio",
       "topic": "ItemCommand",
       "payload": "",
       "x": 650,
       "y": 40,
       "wires": []
   },
   {
       "id": "828d4415.0d3b48",
       "type": "ui_dropdown",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Sender einstellen",
       "place": "Select option",
       "group": "603153c1.6b6e94",
       "order": 4,
       "width": 0,
       "height": 0,
       "passthru": true,
       "options": [
           {
               "label": "NDR 2",
               "value": 1,
               "type": "num"
           },
           {
               "label": "NDR Info 98.5",
               "value": 2,
               "type": "num"
           },
           {
               "label": "Deutschlandfunk",
               "value": 3,
               "type": "num"
           },
           {
               "label": "radio ffn",
               "value": 4,
               "type": "num"
           },
           {
               "label": "N-JOY",
               "value": "5",
               "type": "str"
           },
           {
               "label": "Radio 21",
               "value": "6",
               "type": "str"
           }
       ],
       "payload": "",
       "topic": "",
       "x": 380,
       "y": 40,
       "wires": [
           [
               "9ed98630.f8465"
           ]
       ]
   },
   {
       "id": "ca8051cc.4d5e28",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "4",
       "payloadType": "num",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 200,
       "y": 40,
       "wires": [
           [
               "828d4415.0d3b48"
           ]
       ]
   },
   {
       "id": "deb37401.2a852",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRSetDuration",
       "x": 1440,
       "y": 100,
       "wires": [
           [],
           [
               "267f7219.4f6786"
           ]
       ]
   },
   {
       "id": "267f7219.4f6786",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "Permanent",
               "pt": "flow",
               "to": "payload",
               "tot": "msg"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1670,
       "y": 100,
       "wires": [
           []
       ]
   },
   {
       "id": "2136c5f4.8d6bea",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRSetDuration",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1440,
       "y": 40,
       "wires": []
   },
   {
       "id": "445b4c7c.75bfac",
       "type": "ui_switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "label": "Wecker dauerhaft",
       "group": "603153c1.6b6e94",
       "order": 2,
       "width": 0,
       "height": 0,
       "passthru": true,
       "decouple": "false",
       "topic": "",
       "style": "",
       "onvalue": "ON",
       "onvalueType": "str",
       "onicon": "",
       "oncolor": "",
       "offvalue": "OFF",
       "offvalueType": "str",
       "officon": "",
       "offcolor": "",
       "x": 1210,
       "y": 40,
       "wires": [
           [
               "2136c5f4.8d6bea"
           ]
       ]
   },
   {
       "id": "1b383105.9ef84f",
       "type": "inject",
       "z": "bde9e35a.0d056",
       "name": "",
       "topic": "",
       "payload": "OFF",
       "payloadType": "str",
       "repeat": "",
       "crontab": "",
       "once": true,
       "x": 1010,
       "y": 40,
       "wires": [
           [
               "445b4c7c.75bfac"
           ]
       ]
   },
   {
       "id": "d0f1e30.706052",
       "type": "openhab2-out",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRStartAlarmClockPLAY11",
       "topic": "ItemCommand",
       "payload": "",
       "x": 1740,
       "y": 640,
       "wires": []
   },
   {
       "id": "9241e1e1.565cf8",
       "type": "openhab2-in",
       "z": "bde9e35a.0d056",
       "name": "",
       "controller": "4d377d6b.eec334",
       "itemname": "vNRStartAlarmClockPLAY11",
       "x": 1740,
       "y": 700,
       "wires": [
           [],
           []
       ]
   },
   {
       "id": "8f89ed93.8aec1",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "OFF",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 1490,
       "y": 640,
       "wires": [
           [
               "d0f1e30.706052",
               "1a384198.a3c146",
               "611a35fe.828fb4"
           ],
           [
               "d0f1e30.706052",
               "1a384198.a3c146"
           ]
       ]
   },
   {
       "id": "ecfe654b.e5da38",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "6",
       "timeoutUnits": "minutes",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 1500,
       "y": 260,
       "wires": [
           [
               "d4421367.a09548"
           ]
       ]
   },
   {
       "id": "a5ba3c98.b7c7b8",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "Permanent",
               "tot": "flow"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1500,
       "y": 340,
       "wires": [
           [
               "ecfe654b.e5da38"
           ]
       ]
   },
   {
       "id": "611a35fe.828fb4",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "",
       "property": "Permanent",
       "propertyType": "flow",
       "rules": [
           {
               "t": "eq",
               "v": "OFF",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 1,
       "x": 1510,
       "y": 420,
       "wires": [
           [
               "a5ba3c98.b7c7b8"
           ]
       ]
   },
   {
       "id": "418a4e3b.1f1d3",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to default",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "default",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1050,
       "y": 680,
       "wires": [
           [
               "d2b0bcfb.f5323"
           ]
       ]
   },
   {
       "id": "93f6138f.e8ae7",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to default",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "default",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1050,
       "y": 760,
       "wires": [
           [
               "eb8a147b.6111e8"
           ]
       ]
   },
   {
       "id": "ecfb2ad8.a7bee",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to default",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "default",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1050,
       "y": 840,
       "wires": [
           [
               "9596f34a.6b4938"
           ]
       ]
   },
   {
       "id": "6e80b6cc.16f898",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 680,
       "y": 700,
       "wires": [
           [
               "c049239c.9725b8"
           ]
       ]
   },
   {
       "id": "f3799158.407d2",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 680,
       "y": 780,
       "wires": [
           [
               "92abfc13.b9e4a8"
           ]
       ]
   },
   {
       "id": "1c469869.e130a8",
       "type": "delay",
       "z": "bde9e35a.0d056",
       "name": "",
       "pauseType": "delay",
       "timeout": "2",
       "timeoutUnits": "seconds",
       "rate": "1",
       "nbRateUnits": "1",
       "rateUnits": "second",
       "randomFirst": "1",
       "randomLast": "5",
       "randomUnits": "seconds",
       "drop": false,
       "x": 680,
       "y": 860,
       "wires": [
           [
               "206853b2.583304"
           ]
       ]
   },
   {
       "id": "d2b0bcfb.f5323",
       "type": "bigtimer",
       "z": "bde9e35a.0d056",
       "outtopic": "",
       "outpayload1": "ON",
       "outpayload2": "OFF",
       "name": "Big Timer",
       "lat": "52.53051",
       "lon": "9.75191",
       "starttime": "900",
       "endtime": "10002",
       "startoff": 0,
       "endoff": 0,
       "offs": 0,
       "outtext1": "",
       "outtext2": "",
       "timeout": 1440,
       "sun": true,
       "mon": true,
       "tue": true,
       "wed": true,
       "thu": true,
       "fri": true,
       "sat": true,
       "jan": true,
       "feb": true,
       "mar": true,
       "apr": true,
       "may": true,
       "jun": true,
       "jul": true,
       "aug": true,
       "sep": true,
       "oct": true,
       "nov": true,
       "dec": true,
       "day1": 0,
       "month1": 0,
       "day2": 0,
       "month2": 0,
       "day3": 0,
       "month3": 0,
       "day4": 0,
       "month4": 0,
       "day5": 0,
       "month5": 0,
       "d1": 0,
       "w1": 0,
       "d2": 0,
       "w2": 0,
       "d3": 0,
       "w3": 0,
       "d4": 0,
       "w4": 0,
       "d5": 0,
       "w5": 0,
       "suspend": false,
       "random": false,
       "repeat": false,
       "atstart": false,
       "odd": false,
       "even": false,
       "x": 1300,
       "y": 700,
       "wires": [
           [
               "8f89ed93.8aec1"
           ],
           [],
           []
       ]
   },
   {
       "id": "eb8a147b.6111e8",
       "type": "bigtimer",
       "z": "bde9e35a.0d056",
       "outtopic": "",
       "outpayload1": "ON",
       "outpayload2": "OFF",
       "name": "Big Timer",
       "lat": "52.37052",
       "lon": "9.73322",
       "starttime": "915",
       "endtime": "10002",
       "startoff": 0,
       "endoff": 0,
       "offs": "2",
       "outtext1": "",
       "outtext2": "",
       "timeout": 1440,
       "sun": true,
       "mon": true,
       "tue": true,
       "wed": true,
       "thu": true,
       "fri": true,
       "sat": true,
       "jan": true,
       "feb": true,
       "mar": true,
       "apr": true,
       "may": true,
       "jun": true,
       "jul": true,
       "aug": true,
       "sep": true,
       "oct": true,
       "nov": true,
       "dec": true,
       "day1": 0,
       "month1": 0,
       "day2": 0,
       "month2": 0,
       "day3": 0,
       "month3": 0,
       "day4": 0,
       "month4": 0,
       "day5": 0,
       "month5": 0,
       "d1": 0,
       "w1": 0,
       "d2": 0,
       "w2": 0,
       "d3": 0,
       "w3": 0,
       "d4": 0,
       "w4": 0,
       "d5": 0,
       "w5": 0,
       "suspend": false,
       "random": false,
       "repeat": false,
       "atstart": false,
       "odd": false,
       "even": false,
       "x": 1300,
       "y": 780,
       "wires": [
           [
               "8f89ed93.8aec1"
           ],
           [],
           []
       ]
   },
   {
       "id": "9596f34a.6b4938",
       "type": "bigtimer",
       "z": "bde9e35a.0d056",
       "outtopic": "",
       "outpayload1": "ON",
       "outpayload2": "OFF",
       "name": "Big Timer",
       "lat": "52.53051",
       "lon": "9.75191",
       "starttime": "900",
       "endtime": "10002",
       "startoff": 0,
       "endoff": 0,
       "offs": 0,
       "outtext1": "",
       "outtext2": "",
       "timeout": 1440,
       "sun": true,
       "mon": true,
       "tue": true,
       "wed": true,
       "thu": true,
       "fri": true,
       "sat": true,
       "jan": true,
       "feb": true,
       "mar": true,
       "apr": true,
       "may": true,
       "jun": true,
       "jul": true,
       "aug": true,
       "sep": true,
       "oct": true,
       "nov": true,
       "dec": true,
       "day1": 0,
       "month1": 0,
       "day2": 0,
       "month2": 0,
       "day3": 0,
       "month3": 0,
       "day4": 0,
       "month4": 0,
       "day5": 0,
       "month5": 0,
       "d1": 0,
       "w1": 0,
       "d2": 0,
       "w2": 0,
       "d3": 0,
       "w3": 0,
       "d4": 0,
       "w4": 0,
       "d5": 0,
       "w5": 0,
       "suspend": false,
       "random": false,
       "repeat": false,
       "atstart": false,
       "odd": false,
       "even": false,
       "x": 1300,
       "y": 860,
       "wires": [
           [
               "8f89ed93.8aec1"
           ],
           [],
           []
       ]
   },
   {
       "id": "75615680.f56d78",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to manual",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "manual",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1060,
       "y": 720,
       "wires": [
           [
               "d2b0bcfb.f5323"
           ]
       ]
   },
   {
       "id": "4456b1d3.7e3128",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to manual",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "manual",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1060,
       "y": 800,
       "wires": [
           [
               "eb8a147b.6111e8"
           ]
       ]
   },
   {
       "id": "fed7f34.7c82a1",
       "type": "change",
       "z": "bde9e35a.0d056",
       "name": "set to manual",
       "rules": [
           {
               "t": "set",
               "p": "payload",
               "pt": "msg",
               "to": "manual",
               "tot": "str"
           }
       ],
       "action": "",
       "property": "",
       "from": "",
       "to": "",
       "reg": false,
       "x": 1060,
       "y": 880,
       "wires": [
           [
               "9596f34a.6b4938"
           ]
       ]
   },
   {
       "id": "c049239c.9725b8",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "reset ?",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "reset",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 860,
       "y": 700,
       "wires": [
           [
               "418a4e3b.1f1d3"
           ],
           [
               "75615680.f56d78"
           ]
       ]
   },
   {
       "id": "92abfc13.b9e4a8",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "reset ?",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "reset",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 860,
       "y": 780,
       "wires": [
           [
               "93f6138f.e8ae7"
           ],
           [
               "4456b1d3.7e3128"
           ]
       ]
   },
   {
       "id": "206853b2.583304",
       "type": "switch",
       "z": "bde9e35a.0d056",
       "name": "reset ?",
       "property": "payload",
       "propertyType": "msg",
       "rules": [
           {
               "t": "eq",
               "v": "ON",
               "vt": "str"
           },
           {
               "t": "eq",
               "v": "reset",
               "vt": "str"
           }
       ],
       "checkall": "true",
       "outputs": 2,
       "x": 860,
       "y": 860,
       "wires": [
           [
               "ecfb2ad8.a7bee"
           ],
           [
               "fed7f34.7c82a1"
           ]
       ]
   },
   {
       "id": "603153c1.6b6e94",
       "type": "ui_group",
       "z": "",
       "name": "Einstellungen",
       "tab": "338633f3.b9395c",
       "order": 2,
       "disp": true,
       "width": "6"
   },
   {
       "id": "4d377d6b.eec334",
       "type": "openhab2-controller",
       "z": "",
       "name": "openhab",
       "protocol": "http",
       "host": "192.168.1.18",
       "port": "8080",
       "path": "",
       "username": "",
       "password": ""
   },
   {
       "id": "338633f3.b9395c",
       "type": "ui_tab",
       "z": "",
       "name": "M & P",
       "icon": "dashboard"
   }
]
=======
    {
        "id": "7904012.7a7a3",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "Alarm ON or OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "352947d7.563f3"
            ],
            [
                "46f23aa4.efbab4"
            ]
        ]
    },
    {
        "id": "352947d7.563f3",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "Switch WakeupTime",
        "property": "WakeupTime",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 6,
        "x": 420,
        "y": 660,
        "wires": [
            [
                "f1d011b1.e9fa5",
                "3624bc43.bb5f3c"
            ],
            [
                "f1d011b1.e9fa5",
                "52c4d27f.51c684"
            ],
            [
                "fa9c65d3.bff6b",
                "f1d011b1.e9fa5"
            ],
            [
                "6e80b6cc.16f898",
                "f1d011b1.e9fa5"
            ],
            [
                "f3799158.407d2",
                "f1d011b1.e9fa5"
            ],
            [
                "1c469869.e130a8",
                "f1d011b1.e9fa5"
            ]
        ]
    },
    {
        "id": "24ac9740.ba713",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "7eaae161.a61c6"
            ]
        ]
    },
    {
        "id": "ccf9ccbd.520f6",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "5db592f9.ac3e4c"
            ]
        ]
    },
    {
        "id": "9a044f0.edcca3",
        "type": "ui_dropdown",
        "z": "bde9e35a.0d056",
        "name": "",
        "label": "Weckzeit einstellen",
        "place": "Select option",
        "group": "603153c1.6b6e94",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "06:00",
                "value": 1,
                "type": "num"
            },
            {
                "label": "06:15",
                "value": 2,
                "type": "num"
            },
            {
                "label": "06:30",
                "value": 3,
                "type": "num"
            },
            {
                "label": "06:45",
                "value": 4,
                "type": "num"
            },
            {
                "label": "07:00",
                "value": 5,
                "type": "num"
            },
            {
                "label": "07:15",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 330,
        "y": 1200,
        "wires": [
            [
                "b0cc541f.5f8e28"
            ]
        ]
    },
    {
        "id": "dd0f5afb.a2db58",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "9a044f0.edcca3",
                "bd8d8c33.450918"
            ]
        ]
    },
    {
        "id": "5db592f9.ac3e4c",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "payload.payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "AlarmClock",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "352947d7.563f3"
            ]
        ]
    },
    {
        "id": "fbf3c446.59b048",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 520,
        "wires": [
            [
                "4b6b2726.d850c"
            ]
        ]
    },
    {
        "id": "1c073e39.b41b1a",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "7aac784e.6ad3f8"
            ]
        ]
    },
    {
        "id": "b3f44a38.6d6188",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "is Alarm Clock ON ?",
        "property": "AlarmClock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 170,
        "y": 960,
        "wires": [
            [
                "ccf9ccbd.520f6",
                "9e6c9318.cb53e8"
            ]
        ]
    },
    {
        "id": "f1d011b1.e9fa5",
        "type": "debug",
        "z": "bde9e35a.0d056",
        "name": "object",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "1a384198.a3c146",
        "type": "debug",
        "z": "bde9e35a.0d056",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1730,
        "y": 580,
        "wires": []
    },
    {
        "id": "40362c7.3a880d4",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "afc95422.6d52d"
            ]
        ]
    },
    {
        "id": "14e68ccc.cce51b",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "AlarmClock",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "7904012.7a7a3"
            ]
        ]
    },
    {
        "id": "afc95422.6d52d",
        "type": "ui_switch",
        "z": "bde9e35a.0d056",
        "name": "",
        "label": "Wecker einschalten",
        "group": "603153c1.6b6e94",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 200,
        "wires": [
            [
                "d4421367.a09548"
            ]
        ]
    },
    {
        "id": "f6bfc3dd.786a68",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "afc95422.6d52d"
            ]
        ]
    },
    {
        "id": "3624bc43.bb5f3c",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "6facad21.69d724"
            ]
        ]
    },
    {
        "id": "52c4d27f.51c684",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "ac7b06e4.4dd338"
            ]
        ]
    },
    {
        "id": "fa9c65d3.bff6b",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 620,
        "wires": [
            [
                "774c473a.9ff1f8"
            ]
        ]
    },
    {
        "id": "6501b793.cf874",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "b3f44a38.6d6188"
            ]
        ]
    },
    {
        "id": "7eaae161.a61c6",
        "type": "bigtimer",
        "z": "bde9e35a.0d056",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "8f89ed93.8aec1"
            ],
            [],
            []
        ]
    },
    {
        "id": "4b6b2726.d850c",
        "type": "bigtimer",
        "z": "bde9e35a.0d056",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.37052",
        "lon": "9.73322",
        "starttime": "915",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": "2",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 1300,
        "y": 540,
        "wires": [
            [
                "8f89ed93.8aec1"
            ],
            [],
            []
        ]
    },
    {
        "id": "7aac784e.6ad3f8",
        "type": "bigtimer",
        "z": "bde9e35a.0d056",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "8f89ed93.8aec1"
            ],
            [],
            []
        ]
    },
    {
        "id": "9e6c9318.cb53e8",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "payload.payload.oldValue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "352947d7.563f3"
            ]
        ]
    },
    {
        "id": "bd8d8c33.450918",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prevWakeupTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1240,
        "wires": [
            [
                "d892fd84.37504"
            ]
        ]
    },
    {
        "id": "919318bf.d36ff",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 480,
        "wires": [
            [
                "7eaae161.a61c6"
            ]
        ]
    },
    {
        "id": "f0641b47.310b48",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "4b6b2726.d850c"
            ]
        ]
    },
    {
        "id": "fc2ef6f7.66d0e",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "7aac784e.6ad3f8"
            ]
        ]
    },
    {
        "id": "6facad21.69d724",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 850,
        "y": 460,
        "wires": [
            [
                "24ac9740.ba713"
            ],
            [
                "919318bf.d36ff"
            ]
        ]
    },
    {
        "id": "d892fd84.37504",
        "type": "function",
        "z": "bde9e35a.0d056",
        "name": "WakeupTime",
        "func": "//var newMsg = {payload: msg.payload};\n//var newMsgColor = {payload: msg.payload};\n//var newMsgToggle = {payload: msg.payload};\n// toggle switch function\nvar newMsg = { payload: msg.payload.length };\nvar value = flow.get('WakeupTime');\nvar oldValue = flow.get('prevWakeupTime');\nnewMsg.oldValue = oldValue;\nnewMsg.value = value;\nnewMsg.prev = \"OFF\";\nreturn newMsg;",
        "outputs": "1",
        "noerr": 0,
        "x": 510,
        "y": 1240,
        "wires": [
            []
        ],
        "inputLabels": [
            "MQTT input"
        ],
        "outputLabels": [
            "newMsgx"
        ]
    },
    {
        "id": "ac7b06e4.4dd338",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "fbf3c446.59b048"
            ],
            [
                "f0641b47.310b48"
            ]
        ]
    },
    {
        "id": "774c473a.9ff1f8",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "1c073e39.b41b1a"
            ],
            [
                "fc2ef6f7.66d0e"
            ]
        ]
    },
    {
        "id": "46f23aa4.efbab4",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "352947d7.563f3"
            ]
        ]
    },
    {
        "id": "6d95e1ff.b9b318",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "init",
        "topic": "",
        "payload": "manual",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "7eaae161.a61c6",
                "4b6b2726.d850c",
                "7aac784e.6ad3f8",
                "d2b0bcfb.f5323",
                "eb8a147b.6111e8",
                "9596f34a.6b4938"
            ]
        ]
    },
    {
        "id": "b0cc541f.5f8e28",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vNRTime",
        "topic": "ItemCommand",
        "payload": "",
        "x": 520,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ded8ac8c.4df358",
        "type": "openhab2-in",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vNRTime",
        "x": 160,
        "y": 1140,
        "wires": [
            [],
            [
                "5eaed19.2d442b"
            ]
        ]
    },
    {
        "id": "5eaed19.2d442b",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "ItemStateChangedEvent ?",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ItemStateChangedEvent",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "f348101f.b0db4"
            ]
        ],
        "outputLabels": [
            "changed"
        ]
    },
    {
        "id": "f348101f.b0db4",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "payload.payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "6501b793.cf874"
            ]
        ]
    },
    {
        "id": "d30f03c4.27cf4",
        "type": "openhab2-in",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vAlarmClockSonosPLAY11",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "14e68ccc.cce51b"
            ],
            []
        ]
    },
    {
        "id": "d4421367.a09548",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vAlarmClockSonosPLAY11",
        "topic": "ItemCommand",
        "payload": "",
        "x": 1480,
        "y": 200,
        "wires": []
    },
    {
        "id": "a2a51612.0199b",
        "type": "ui_button",
        "z": "bde9e35a.0d056",
        "name": "",
        "group": "603153c1.6b6e94",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "PAUSE",
        "payloadType": "str",
        "topic": "",
        "x": 1110,
        "y": 1080,
        "wires": [
            [
                "b2ed0f85.56506"
            ]
        ]
    },
    {
        "id": "bbb18c4b.468318",
        "type": "ui_button",
        "z": "bde9e35a.0d056",
        "name": "",
        "group": "603153c1.6b6e94",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "PLAY",
        "payloadType": "str",
        "topic": "",
        "x": 1110,
        "y": 1040,
        "wires": [
            [
                "b2ed0f85.56506"
            ]
        ]
    },
    {
        "id": "902b7265.5da2f",
        "type": "ui_slider",
        "z": "bde9e35a.0d056",
        "name": "",
        "label": "Lautstärke",
        "group": "603153c1.6b6e94",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "5",
        "x": 1090,
        "y": 1240,
        "wires": [
            [
                "d35226ab.edd5e"
            ]
        ]
    },
    {
        "id": "b2ed0f85.56506",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "dSonosPLAY12Controler",
        "topic": "ItemCommand",
        "payload": "",
        "x": 1350,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d35226ab.edd5e",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "dSonosPLAY11Volume",
        "topic": "ItemCommand",
        "payload": "",
        "x": 1340,
        "y": 1240,
        "wires": []
    },
    {
        "id": "e24c2307.5778a8",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vSonosSnoozePLAY11",
        "topic": "ItemCommand",
        "payload": "",
        "x": 1340,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fe6a66df.c650f8",
        "type": "ui_slider",
        "z": "bde9e35a.0d056",
        "name": "",
        "label": "Snooze Zeit",
        "group": "603153c1.6b6e94",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 1090,
        "y": 1180,
        "wires": [
            [
                "5fa7365b.ba4fb8"
            ]
        ]
    },
    {
        "id": "a1d8009d.2e2b18",
        "type": "ui_button",
        "z": "bde9e35a.0d056",
        "name": "",
        "group": "603153c1.6b6e94",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Snooze",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "",
        "x": 1100,
        "y": 1120,
        "wires": [
            [
                "e24c2307.5778a8"
            ]
        ]
    },
    {
        "id": "f4ec809b.58c98",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 930,
        "y": 1120,
        "wires": [
            [
                "a1d8009d.2e2b18"
            ]
        ]
    },
    {
        "id": "2582b4f6.162834",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 930,
        "y": 1180,
        "wires": [
            [
                "fe6a66df.c650f8"
            ]
        ]
    },
    {
        "id": "5fa7365b.ba4fb8",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vSonosSnoozeTimePLAY11",
        "topic": "ItemCommand",
        "payload": "",
        "x": 1360,
        "y": 1180,
        "wires": []
    },
    {
        "id": "bdb1cc9e.f22a8",
        "type": "openhab2-in",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vSonosSnoozeTimePLAY11",
        "x": 1660,
        "y": 1180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b0de2f11.ea8b38",
        "type": "openhab2-in",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vSonosSnoozePLAY11",
        "x": 1640,
        "y": 1120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4b0623a5.f52db4",
        "type": "openhab2-in",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vSonosPLAY11WeckerPlayRadio2",
        "x": 650,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9ed98630.f8465",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vSonosPLAY11WeckerPlayRadio",
        "topic": "ItemCommand",
        "payload": "",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "828d4415.0d3b48",
        "type": "ui_dropdown",
        "z": "bde9e35a.0d056",
        "name": "",
        "label": "Sender einstellen",
        "place": "Select option",
        "group": "603153c1.6b6e94",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "NDR 2",
                "value": 1,
                "type": "num"
            },
            {
                "label": "NDR Info 98.5",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Deutschlandfunk",
                "value": 3,
                "type": "num"
            },
            {
                "label": "radio ffn",
                "value": 4,
                "type": "num"
            },
            {
                "label": "N-JOY",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Radio 21",
                "value": "6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "9ed98630.f8465"
            ]
        ]
    },
    {
        "id": "ca8051cc.4d5e28",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "828d4415.0d3b48"
            ]
        ]
    },
    {
        "id": "deb37401.2a852",
        "type": "openhab2-in",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vNRSetDuration",
        "x": 1440,
        "y": 100,
        "wires": [
            [],
            [
                "267f7219.4f6786"
            ]
        ]
    },
    {
        "id": "267f7219.4f6786",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Permanent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2136c5f4.8d6bea",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vNRSetDuration",
        "topic": "ItemCommand",
        "payload": "",
        "x": 1440,
        "y": 40,
        "wires": []
    },
    {
        "id": "445b4c7c.75bfac",
        "type": "ui_switch",
        "z": "bde9e35a.0d056",
        "name": "",
        "label": "Wecker dauerhaft",
        "group": "603153c1.6b6e94",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 40,
        "wires": [
            [
                "2136c5f4.8d6bea"
            ]
        ]
    },
    {
        "id": "1b383105.9ef84f",
        "type": "inject",
        "z": "bde9e35a.0d056",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 1010,
        "y": 40,
        "wires": [
            [
                "445b4c7c.75bfac"
            ]
        ]
    },
    {
        "id": "d0f1e30.706052",
        "type": "openhab2-out",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vNRStartAlarmClockPLAY11",
        "topic": "ItemCommand",
        "payload": "",
        "x": 1740,
        "y": 640,
        "wires": []
    },
    {
        "id": "9241e1e1.565cf8",
        "type": "openhab2-in",
        "z": "bde9e35a.0d056",
        "name": "",
        "controller": "4d377d6b.eec334",
        "itemname": "vNRStartAlarmClockPLAY11",
        "x": 1740,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8f89ed93.8aec1",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1490,
        "y": 640,
        "wires": [
            [
                "d0f1e30.706052",
                "1a384198.a3c146",
                "611a35fe.828fb4"
            ],
            [
                "d0f1e30.706052",
                "1a384198.a3c146"
            ]
        ]
    },
    {
        "id": "ecfe654b.e5da38",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1500,
        "y": 260,
        "wires": [
            [
                "d4421367.a09548"
            ]
        ]
    },
    {
        "id": "a5ba3c98.b7c7b8",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Permanent",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 340,
        "wires": [
            [
                "ecfe654b.e5da38"
            ]
        ]
    },
    {
        "id": "611a35fe.828fb4",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "",
        "property": "Permanent",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1510,
        "y": 420,
        "wires": [
            [
                "a5ba3c98.b7c7b8"
            ]
        ]
    },
    {
        "id": "418a4e3b.1f1d3",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "d2b0bcfb.f5323"
            ]
        ]
    },
    {
        "id": "93f6138f.e8ae7",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 760,
        "wires": [
            [
                "eb8a147b.6111e8"
            ]
        ]
    },
    {
        "id": "ecfb2ad8.a7bee",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 840,
        "wires": [
            [
                "9596f34a.6b4938"
            ]
        ]
    },
    {
        "id": "6e80b6cc.16f898",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 700,
        "wires": [
            [
                "c049239c.9725b8"
            ]
        ]
    },
    {
        "id": "f3799158.407d2",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 780,
        "wires": [
            [
                "92abfc13.b9e4a8"
            ]
        ]
    },
    {
        "id": "1c469869.e130a8",
        "type": "delay",
        "z": "bde9e35a.0d056",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 860,
        "wires": [
            [
                "206853b2.583304"
            ]
        ]
    },
    {
        "id": "d2b0bcfb.f5323",
        "type": "bigtimer",
        "z": "bde9e35a.0d056",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 1300,
        "y": 700,
        "wires": [
            [
                "8f89ed93.8aec1"
            ],
            [],
            []
        ]
    },
    {
        "id": "eb8a147b.6111e8",
        "type": "bigtimer",
        "z": "bde9e35a.0d056",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.37052",
        "lon": "9.73322",
        "starttime": "915",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": "2",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 1300,
        "y": 780,
        "wires": [
            [
                "8f89ed93.8aec1"
            ],
            [],
            []
        ]
    },
    {
        "id": "9596f34a.6b4938",
        "type": "bigtimer",
        "z": "bde9e35a.0d056",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 1300,
        "y": 860,
        "wires": [
            [
                "8f89ed93.8aec1"
            ],
            [],
            []
        ]
    },
    {
        "id": "75615680.f56d78",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 720,
        "wires": [
            [
                "d2b0bcfb.f5323"
            ]
        ]
    },
    {
        "id": "4456b1d3.7e3128",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "eb8a147b.6111e8"
            ]
        ]
    },
    {
        "id": "fed7f34.7c82a1",
        "type": "change",
        "z": "bde9e35a.0d056",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 880,
        "wires": [
            [
                "9596f34a.6b4938"
            ]
        ]
    },
    {
        "id": "c049239c.9725b8",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 860,
        "y": 700,
        "wires": [
            [
                "418a4e3b.1f1d3"
            ],
            [
                "75615680.f56d78"
            ]
        ]
    },
    {
        "id": "92abfc13.b9e4a8",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 860,
        "y": 780,
        "wires": [
            [
                "93f6138f.e8ae7"
            ],
            [
                "4456b1d3.7e3128"
            ]
        ]
    },
    {
        "id": "206853b2.583304",
        "type": "switch",
        "z": "bde9e35a.0d056",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 860,
        "y": 860,
        "wires": [
            [
                "ecfb2ad8.a7bee"
            ],
            [
                "fed7f34.7c82a1"
            ]
        ]
    },
    {
        "id": "603153c1.6b6e94",
        "type": "ui_group",
        "z": "",
        "name": "Einstellungen",
        "tab": "338633f3.b9395c",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "4d377d6b.eec334",
        "type": "openhab2-controller",
        "z": "",
        "name": "openhab",
        "protocol": "http",
        "host": "192.168.1.18",
        "port": "8080",
        "path": "",
        "username": "",
        "password": ""
    },
    {
        "id": "338633f3.b9395c",
        "type": "ui_tab",
        "z": "",
        "name": "M & P",
        "icon": "dashboard"
    }
]
>>>>>>> 12f6d944e5e252a1c58ac9aec7de0ba79b6b1ebc
