timerAlarm-NodeRED.json
[
    {
        "id": "a92fbf06.3a99f8",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "af8ed894.f337f8",
                "e04cb593.50283",
                "a618cb0f.33ff38",
                "b1b35d60.c2996",
                "4352da7b.dd87fc",
                "68ad1802.c7375"
            ]
        ]
    },
    {
        "id": "6116be42.e5ef7",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "Alarm ON or OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "1273d485.e339a3"
            ],
            [
                "38628045.aa5818"
            ]
        ]
    },
    {
        "id": "38628045.aa5818",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "Switch WakeupTime",
        "property": "WakeupTime",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 6,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "a03d9930.fdb91",
                "309eb4a5.e6498c"
            ],
            [
                "a03d9930.fdb91",
                "2ab8cd5c.45dea2"
            ],
            [
                "bbb37cc1.e283c",
                "a03d9930.fdb91"
            ],
            [
                "5ea75205.628854",
                "a03d9930.fdb91"
            ],
            [
                "fdfe90eb.0bd5a8",
                "a03d9930.fdb91"
            ],
            [
                "9b588e7f.c7c788",
                "a03d9930.fdb91"
            ]
        ]
    },
    {
        "id": "b9df847c.60bea",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "af8ed894.f337f8"
            ]
        ]
    },
    {
        "id": "5b646546.f6498c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "38628045.aa5818"
            ]
        ]
    },
    {
        "id": "60add0f6.e2947",
        "type": "ui_dropdown",
        "z": "de32b41.a355148",
        "name": "",
        "label": "Weckzeit einstellen",
        "place": "Select option",
        "group": "dbcc90ab.b2cb4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "06:00",
                "value": 1,
                "type": "num"
            },
            {
                "label": "06:15",
                "value": 2,
                "type": "num"
            },
            {
                "label": "06:30",
                "value": 3,
                "type": "num"
            },
            {
                "label": "06:45",
                "value": 4,
                "type": "num"
            },
            {
                "label": "07:00",
                "value": 5,
                "type": "num"
            },
            {
                "label": "07:15",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "2544b772.6c4898"
            ]
        ]
    },
    {
        "id": "4a95c701.b93ad",
        "type": "ui_slider",
        "z": "de32b41.a355148",
        "name": "",
        "label": "Lautstärke",
        "group": "dbcc90ab.b2cb4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "5",
        "x": 820,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "63299818.22031",
        "type": "ui_slider",
        "z": "de32b41.a355148",
        "name": "",
        "label": "Snooze Zeit",
        "group": "dbcc90ab.b2cb4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 820,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "96d35a2d.e6779",
        "type": "ui_button",
        "z": "de32b41.a355148",
        "name": "",
        "group": "dbcc90ab.b2cb4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Snooze",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "",
        "x": 830,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5618829a.84304c",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "96d35a2d.e6779"
            ]
        ]
    },
    {
        "id": "d51eb0b3.81eac",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 660,
        "y": 700,
        "wires": [
            [
                "63299818.22031"
            ]
        ]
    },
    {
        "id": "b31a5eef.56eb78",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 90,
        "y": 620,
        "wires": [
            [
                "60add0f6.e2947"
            ]
        ]
    },
    {
        "id": "2544b772.6c4898",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "d33accb9.8e11c"
            ]
        ]
    },
    {
        "id": "ec27a429.56e7",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 240,
        "wires": [
            [
                "e04cb593.50283"
            ]
        ]
    },
    {
        "id": "42ed666.4230c98",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "a618cb0f.33ff38"
            ]
        ]
    },
    {
        "id": "eaadf676.73f488",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "b1b35d60.c2996"
            ]
        ]
    },
    {
        "id": "18734a0e.1ee55e",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "4352da7b.dd87fc"
            ]
        ]
    },
    {
        "id": "61f947a.4a2b938",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "68ad1802.c7375"
            ]
        ]
    },
    {
        "id": "e1d1ad8a.0a0aa",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "is Alarm Clock ON ?",
        "property": "AlarmClock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "5b646546.f6498c",
                "1273d485.e339a3"
            ]
        ]
    },
    {
        "id": "a03d9930.fdb91",
        "type": "debug",
        "z": "de32b41.a355148",
        "name": "object",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "b26f70c4.588838",
        "type": "debug",
        "z": "de32b41.a355148",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "9bfa7984.e36598",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "2b6e09d3.fa983e"
            ]
        ]
    },
    {
        "id": "1aed42ac.5d8595",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "AlarmClock",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "6116be42.e5ef7"
            ]
        ]
    },
    {
        "id": "2b6e09d3.fa983e",
        "type": "ui_switch",
        "z": "de32b41.a355148",
        "name": "",
        "label": "Wecker AN / AUS",
        "group": "dbcc90ab.b2cb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "1aed42ac.5d8595"
            ]
        ]
    },
    {
        "id": "25df81f9.7d0dce",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "2b6e09d3.fa983e"
            ]
        ]
    },
    {
        "id": "309eb4a5.e6498c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "b9df847c.60bea"
            ]
        ]
    },
    {
        "id": "2ab8cd5c.45dea2",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "ec27a429.56e7"
            ]
        ]
    },
    {
        "id": "bbb37cc1.e283c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "42ed666.4230c98"
            ]
        ]
    },
    {
        "id": "5ea75205.628854",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "eaadf676.73f488"
            ]
        ]
    },
    {
        "id": "fdfe90eb.0bd5a8",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "18734a0e.1ee55e"
            ]
        ]
    },
    {
        "id": "9b588e7f.c7c788",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "61f947a.4a2b938"
            ]
        ]
    },
    {
        "id": "d33accb9.8e11c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 100,
        "y": 540,
        "wires": [
            [
                "e1d1ad8a.0a0aa"
            ]
        ]
    },
    {
        "id": "af8ed894.f337f8",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "e04cb593.50283",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.37052",
        "lon": "9.73322",
        "starttime": "915",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": "2",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 880,
        "y": 240,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "a618cb0f.33ff38",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "b1b35d60.c2996",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 880,
        "y": 400,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "4352da7b.dd87fc",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 880,
        "y": 480,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "68ad1802.c7375",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 880,
        "y": 560,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "1273d485.e339a3",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "a92fbf06.3a99f8"
            ]
        ]
    },
    {
        "id": "dbcc90ab.b2cb4",
        "type": "ui_group",
        "z": "",
        "name": "Wecker Einstellungen",
        "tab": "a7b502cd.9b213",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a7b502cd.9b213",
        "type": "ui_tab",
        "z": "",
        "name": "M & P",
        "icon": "dashboard"
    }
]