timerAlarm-NodeRED.json
[
    {
        "id": "6116be42.e5ef7",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "Alarm ON or OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "c30b8955.72a9f8"
            ],
            [
                "38628045.aa5818"
            ]
        ]
    },
    {
        "id": "38628045.aa5818",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "Switch WakeupTime",
        "property": "WakeupTime",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "a03d9930.fdb91",
                "309eb4a5.e6498c"
            ],
            [
                "a03d9930.fdb91",
                "2ab8cd5c.45dea2"
            ],
            [
                "bbb37cc1.e283c",
                "a03d9930.fdb91"
            ]
        ]
    },
    {
        "id": "b9df847c.60bea",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "af8ed894.f337f8"
            ]
        ]
    },
    {
        "id": "5b646546.f6498c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 100,
        "y": 600,
        "wires": [
            [
                "2544b772.6c4898"
            ]
        ]
    },
    {
        "id": "60add0f6.e2947",
        "type": "ui_dropdown",
        "z": "de32b41.a355148",
        "name": "",
        "label": "Weckzeit einstellen",
        "place": "Select option",
        "group": "dbcc90ab.b2cb4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "06:00",
                "value": 1,
                "type": "num"
            },
            {
                "label": "06:15",
                "value": 2,
                "type": "num"
            },
            {
                "label": "06:30",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 270,
        "y": 780,
        "wires": [
            [
                "d33accb9.8e11c"
            ]
        ]
    },
    {
        "id": "b31a5eef.56eb78",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 90,
        "y": 820,
        "wires": [
            [
                "60add0f6.e2947",
                "ded3a16.d770fe"
            ]
        ]
    },
    {
        "id": "2544b772.6c4898",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "AlarmClock",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 540,
        "wires": [
            [
                "38628045.aa5818"
            ]
        ]
    },
    {
        "id": "ec27a429.56e7",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "e04cb593.50283"
            ]
        ]
    },
    {
        "id": "42ed666.4230c98",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "a618cb0f.33ff38"
            ]
        ]
    },
    {
        "id": "e1d1ad8a.0a0aa",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "is Alarm Clock ON ?",
        "property": "AlarmClock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 140,
        "y": 660,
        "wires": [
            [
                "5b646546.f6498c",
                "2a2eacd8.e9ccdc"
            ]
        ]
    },
    {
        "id": "a03d9930.fdb91",
        "type": "debug",
        "z": "de32b41.a355148",
        "name": "object",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "b26f70c4.588838",
        "type": "debug",
        "z": "de32b41.a355148",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "9bfa7984.e36598",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "2b6e09d3.fa983e"
            ]
        ]
    },
    {
        "id": "1aed42ac.5d8595",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "AlarmClock",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "6116be42.e5ef7"
            ]
        ]
    },
    {
        "id": "2b6e09d3.fa983e",
        "type": "ui_switch",
        "z": "de32b41.a355148",
        "name": "",
        "label": "Wecker AN / AUS",
        "group": "dbcc90ab.b2cb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "1aed42ac.5d8595"
            ]
        ]
    },
    {
        "id": "25df81f9.7d0dce",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "2b6e09d3.fa983e"
            ]
        ]
    },
    {
        "id": "309eb4a5.e6498c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "6086fdc8.81d8e4"
            ]
        ]
    },
    {
        "id": "2ab8cd5c.45dea2",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "8b6bfbba.5b482"
            ]
        ]
    },
    {
        "id": "bbb37cc1.e283c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "e0f3e574.cd04a"
            ]
        ]
    },
    {
        "id": "d33accb9.8e11c",
        "type": "delay",
        "z": "de32b41.a355148",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 100,
        "y": 720,
        "wires": [
            [
                "e1d1ad8a.0a0aa"
            ]
        ]
    },
    {
        "id": "af8ed894.f337f8",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 960,
        "y": 260,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "e04cb593.50283",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.37052",
        "lon": "9.73322",
        "starttime": "915",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": "2",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "a618cb0f.33ff38",
        "type": "bigtimer",
        "z": "de32b41.a355148",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "lat": "52.53051",
        "lon": "9.75191",
        "starttime": "900",
        "endtime": "10002",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 960,
        "y": 420,
        "wires": [
            [
                "b26f70c4.588838"
            ],
            [],
            []
        ]
    },
    {
        "id": "2a2eacd8.e9ccdc",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "prevWakeupTime",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "38628045.aa5818"
            ]
        ]
    },
    {
        "id": "ded3a16.d770fe",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prevWakeupTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "WakeupTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "98022d35.0d3a7"
            ]
        ]
    },
    {
        "id": "124fe103.a198b7",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "af8ed894.f337f8"
            ]
        ]
    },
    {
        "id": "7d4f8395.8ee4bc",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "e04cb593.50283"
            ]
        ]
    },
    {
        "id": "ea6cc5f5.f77738",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "set to manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "a618cb0f.33ff38"
            ]
        ]
    },
    {
        "id": "6086fdc8.81d8e4",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "b9df847c.60bea"
            ],
            [
                "124fe103.a198b7"
            ]
        ]
    },
    {
        "id": "98022d35.0d3a7",
        "type": "function",
        "z": "de32b41.a355148",
        "name": "WakeupTime",
        "func": "//var newMsg = {payload: msg.payload};\n//var newMsgColor = {payload: msg.payload};\n//var newMsgToggle = {payload: msg.payload};\n// toggle switch function\nvar newMsg = { payload: msg.payload.length };\nvar value = flow.get('WakeupTime');\nvar oldValue = flow.get('prevWakeupTime');\nnewMsg.oldValue = oldValue;\nnewMsg.value = value;\nnewMsg.prev = \"OFF\";\nreturn newMsg;",
        "outputs": "1",
        "noerr": 0,
        "x": 450,
        "y": 860,
        "wires": [
            [
                "80e8a9d8.40224"
            ]
        ],
        "inputLabels": [
            "MQTT input"
        ],
        "outputLabels": [
            "newMsgx"
        ]
    },
    {
        "id": "80e8a9d8.40224",
        "type": "debug",
        "z": "de32b41.a355148",
        "name": "device",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "8b6bfbba.5b482",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "ec27a429.56e7"
            ],
            [
                "7d4f8395.8ee4bc"
            ]
        ]
    },
    {
        "id": "e0f3e574.cd04a",
        "type": "switch",
        "z": "de32b41.a355148",
        "name": "reset ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "42ed666.4230c98"
            ],
            [
                "ea6cc5f5.f77738"
            ]
        ]
    },
    {
        "id": "c30b8955.72a9f8",
        "type": "change",
        "z": "de32b41.a355148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "38628045.aa5818"
            ]
        ]
    },
    {
        "id": "fdd5c47e.638e78",
        "type": "inject",
        "z": "de32b41.a355148",
        "name": "init",
        "topic": "",
        "payload": "manual",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "af8ed894.f337f8",
                "e04cb593.50283",
                "a618cb0f.33ff38"
            ]
        ]
    },
    {
        "id": "dbcc90ab.b2cb4",
        "type": "ui_group",
        "z": "",
        "name": "Wecker Einstellungen",
        "tab": "a7b502cd.9b213",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a7b502cd.9b213",
        "type": "ui_tab",
        "z": "",
        "name": "M & P",
        "icon": "dashboard"
    }
]